@media screen and (max-width: 720px) {
    .main {
        padding: 6rem 1rem 0 1rem;
    }

    .side-menu {
        transform: translateX(-100%);
        transition: all 0.2s;

        .menu-text {
            display: inline-block;
        }

        i {
            margin-right: 2rem;
        }
    }

    .side-menu.show {
        transform: translateX(0%);
    }

    .fullscreen {
        .editor {
            width: 100%;
        }
        .preview {
            display: none;
        }
        .preview-btn {
            display: inline-block;
        }
        .mobile-preview {
            display: block;
            left: 0;
        }
        .active {
            color: $white;
            background: map-get($color-red, '500');
        }
    }

    .category-content {
        transform: translateX(30rem);
    }

    .category-content.show {
        transform: translateX(0);
    }

    .posts-list {
        margin-right: 0;
    }
}