@media screen and (max-width: 720px) {
    .main {
        padding: 5rem 0 0;
    }

    .side-menu {
        transform: translateX(-100%);
        transition: all 0.2s;

        .menu-text {
            display: inline-block;
        }

        i {
            margin-right: 2rem;
        }
    }

    .side-menu.show {
        transform: translateX(0%);
    }
    .post-category {
        display: block;
        margin: 1rem 0;
    }
    .fullscreen {
        .editor {
            width: 100%;
        }
        .preview {
            display: none;
        }
        .preview-btn {
            display: inline-block;
        }
        .mobile-preview {
            display: block;
            left: 0;
        }
        .active {
            color: $white;
            background: map-get($color-red, '500');
        }
    }

    .category-content {
        transform: translateX(30rem);
    }

    .category-content.show {
        transform: translateX(0);
        width: 100%;
    }

    .posts-list {
        margin-right: 0;

        li {
            padding: 1.5rem;
        }
    }

    .user-avatar, .post-update {
        display: none;
    }
    .selected-item {
        .item-info-text, .item-preview {
            display: block;
            width: 100%;
        }
    }

    .album-list {
        li {
            width: 100%;
            height: 100%;
            margin: 0 0 2rem 0;
        }
    }
}