.post-area {
    position: relative;
    height: 100%;
}

.post-head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $shadow-1;
    input {
        height: 50px;
        width: 100%;
        padding: 0 130px 0 1rem;
        outline: none;
        border: none;
        font-size: 2.4rem;
        font-weight: 800;
        color: $content-color;

        &:focus {
            box-shadow: 4px 0 0 map-get($color-red, '400') inset;
        }
    }

    .categories-selector {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        height: 4rem;
        line-height: 4rem;
        padding: 0 1rem;
        outline: none;
        border: none;
        font-size: 1.6rem;
    }


    .light-selector {
        border: none;
        color: $grey;
    }

    option {
        height: 3rem;
        width: 10rem;
        padding: 0.5rem 1rem;
    }
}

.post-editor {
    height: 100%;
    padding-top: 60px;

    .editor {
        display: block;
        height: 100%;
        width: 100%;
        padding: 5rem 1rem 4rem 1rem;
        border: none;
        font-size: $normal-font-size;
        color: $content-color;
        outline: none;
    }

    .preview {
        display: none;
    }

    .wrapper {
        position: relative;
        height: 100%;
        box-shadow: $shadow-1;
    }
    .preview-btn {
        display: none;
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: $editor-fullscreen-index;

    .editor {
        width: 50%;
        background: $editor-background;
    }

    .preview {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        padding: 50px 2rem 4rem 2rem;
        overflow: auto;
        background: $white;
    }
}
.editor-tools {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    z-index: $editor-tools-index;
    background: $light-grey;
    span {
        display: inline-block;
        line-height: 3rem;
        font-size: 1.5rem;
        color: $dark-grey;
    }

    li {
        display: inline-block;
    }

    button {
        padding: 0.5rem;
        height: 3rem;
        font-size: 2rem;
        color: $dark-grey;
    }

    ul {
        float: right;
    }
}

.editor-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: map-get($color-grey, '100');
    input {
        height: 4rem;
        width: 100%;
        padding: 0 10rem 0 1rem;
        border: none;
        font-size: 1.4rem;
        color: $content-color;
        outline: none;
        background: none;
    }

    button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.insert-image {
    .content {
        text-align: center;
    }
    .active {
        box-shadow: 0 -2px 0 $blue inset;
    }

    .container {
        padding: 3rem 1rem 1rem;
    }

    .description {
        color: $grey;
    }

    input[type='text'] {
        height: 3rem;
        width: 80%;
        padding: 0 1rem;
        margin-top: 3rem;
        outline: none;
        border: 1px solid $light-grey;
    }
}
.choose-type {
    padding: 0.5rem 0;
    border-bottom: 1px solid $light-grey;
    li {
        display: inline-block;
    }
    button {
        padding: 0.5rem;
        margin: 0 1rem;
        border-radius: 0;

        &:hover {
            box-shadow: 0 -2px 0 $blue inset;
            background: none;
        }
    }
}

#upload {
    display: none;
}

.upload-btn {
    position: relative;
    margin: 1rem auto;
    padding: 2rem 0;
    border: 1px dashed $grey;
    background: $light-grey;
    input[type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
    }

    .md-photo {
        font-size: 10rem;
        color: $grey;
    }
}

.upload-progress, .upload-finish {
    display: none;
    margin: 1rem auto;
}

.upload-progress {
    .progress-bar-outer {
        position: relative;
        height: 0.4rem;
        margin-top: 3rem;
        background: $light-grey;
    }

    .progress-bar-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: $blue;
        transition: width 0.3s;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -0.5rem;
            right: -0.7rem;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 100%;
            background: $white;
            box-shadow: 0 0 2rem rgba(0,0,0,0.5);
        }
    }
}

.upload-finish {
    img {
        width: 100%;
    }
}

.help-content {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid $grey;

    th, td {
        padding: 0.5rem;
        text-align: left;
        border-left: 1px solid $grey;
        border-bottom: 1px solid $grey;
    }
}

.post-content {
    position: relative;
    height: 100%;
    background: $white;
    box-shadow: $shadow-1;
    overflow: hidden;
}

.posts-list {
    padding: 3rem $category-list-width 1rem 0;
    height: 100%;
    overflow: auto;
    li {
        border-bottom: 1px solid map-get($color-grey, '300');
        padding: 1rem;
    }

    .drafts {
        background: $light-grey;
        .post-title {
            a {
                color: lighten($content-color, 10%);
            }
        }

        .post-meta {
            color: lighten($dark-grey, 5%);
            a {
                color: lighten($dark-grey, 5%);
            }
        }
    }

    .post-title {
        padding-bottom: 0.5rem;
        a {
            font-size: $large-font-size;
            color: $content-color;
        }
    }

    .post-meta {
        font-size: 1.3rem;
        color: $dark-grey;

        a {
            color: $dark-grey;
        }
    }
}

.categories-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100% - $category-list-width;
    box-shadow: $shadow-2;
    z-index: $category-list-index;
    li {
        padding: 1rem;
    }
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $blue;
    z-index: $post-nav-index;
    li {
        display: inline-block;
        text-align: center;
    }

    .post {
        width: 100% - $category-list-width;
    }

    .category {
        width: $category-list-width;
    }

    button {
        font-size: 1.6rem;
        height: 3rem;
        color: $white;
        &:hover {
            background: none;
        }
    }
}