$side-menu-background: #121920;

$button-default-color: map-get($color-grey, '800');
$button-primary-color: map-get($color-blue, '400');
$button-danger-color: map-get($color-red, '600');
$button-warning-color: map-get($color-orange, '400');
$button-disabled-color: map-get($color-grey, '500');

$button-blue: map-get($color-light-blue, '400');
$button-red: map-get($color-red, '300');
$button-green: map-get($color-green, '300');
$button-yellow: map-get($color-orange, '300');

$button-default-background: rgba(map-get($color-grey, '0'), 0);
$button-background: map-get($color-grey, '100');
$button-raised-background: map-get($color-grey, '200');

$ripple-default: rgba(map-get($color-grey, '0'), 0.3);
$ripple-blue: rgba(map-get($color-light-blue, '100'), 0.3);
$ripple-yellow: rgba(map-get($color-yellow, '100'), 0.3);
$ripple-pink: rgba(map-get($color-pink, '100'), 0.3);
$ripple-red: rgba(map-get($color-red, '100'), 0.3);
$ripple-white: rgba(map-get($color-grey, '0'), 0.3);
$ripple-black: rgba(map-get($color-grey, '1000'), 0.1);

$white: map-get($color-grey, '0');
$grey: map-get($color-grey, '400');
$red: map-get($color-red, '400');
$blue: map-get($color-light-blue, '400');
$light-grey: map-get($color-grey, '200');
$dark-grey: map-get($color-grey, '600');

$editor-background: map-get($color-grey, '50');


$shadow-1: 0px 2px 5px rgba(0,0,0,0.4);
$shadow-2: 0px 8px 17px rgba(0,0,0,0.2);
$shadow-3: 0px 17px 50px rgba(0,0,0,0.19);
$shadow-4: 0px 16px 28px 0 rgba(0,0,0,0.22);
$shadow-5: 0px 27px 24px 0 rgba(0,0,0,0.2);


@mixin header($size) {
    font-size: $size;
    line-height: 1.1;
    font-weight: 800;
    color: map-get($color-blue-grey, '800');
}

$normal-font-size: 1.5rem;
$large-font-size: 2.3rem;
$small-font-size: 1.1rem;

$content-color: map-get($color-grey, '700');

$input-width: 20rem;
$input-focus-color: map-get($color-light-blue, '400');
$input-error-color: map-get($color-red, '300');


$editor-tools-index: 1;
$category-list-index: 1;
$post-nav-index: 2;
$preview-index: 3;
$side-index: 4;
$navbar-index: 5;
$editor-fullscreen-index: 6;
$progress-index: 7;
$dialog-index: 8;
$msg-index: 9;

$category-list-width: 30rem;