doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        block extra_css
    body
        block content
        script(type='text/javascript', src='/js/jquery-2.1.0.min.js',)
        script(type='text/javascript', src='/js/common.js')
        block extra_script