.album-list
    ul
        li.new-album
            form(name='new-album', ng-submit='createNewAlbum()')
                md-input(name='album-name', ng-model='newAlbum.name', title='相册名称', desc='新的相册的名称。')
                textarea(ng-model='newAlbum.desc', name='album-desc')
                .album-private
                    input(type='checkbox', ng-model='newAlbum.private')
                    label(for='') 私密相册
                button.btn.btn-blue(type='submit', ripple) 创建
        li(ng-repeat='album in albums')
            a.delete-album(href='javascript:;', ng-click='delete(album)')
                i.md-delete
            span {{album.name}}
            span {{album.desc}}