.post-content
    ul.nav-menu
        li.post: button.btn.new-post-btn(ng-click='goToNewPost()', ripple)
            i.md-add.left-icon
            | 新文章
        li.category: button.btn.category-btn(ng-click='toggleCategory()', ripple='black')
            i.md-sort.left-icon
            | 分类
    ul.posts-list
        li.drafts.post(data-category='{{draft.category}}', ng-repeat='draft in drafts', ng-show='showPost(draft.category)')
            .post-title
                a(href='javascript:;', ng-click='postPreview(draft)') {{draft.title}}
            .post-meta
                a.user-avatar(ng-href='{{url.admin}}{{url.user}}/{{draft.author}}')
                    img(ng-src='{{url.api}}{{url.avatar}}/{{draft.author}}', alt='{{draft.author}}')
                    span {{draft.author}}
                span.post-category
                    i.md-list.left-icon
                    | {{draft.category.name}}
                span
                    i.md-access-time.left-icon
                    span.post-date {{draft.createDate}}
                    i.md-mode-edit.left-icon
                    span {{draft.lastModifiedDate}}

        li.post(data-category='{{post.category}}', ng-repeat='post in posts', ng-show='showPost(post.category)')
            .post-title
                a(href='javascript:;', ng-click='postPreview(post)') {{post.title}}
            .post-meta
                a.user-avatar(ng-href='{{url.admin}}{{url.user}}/{{post.author}}')
                    img(ng-src='{{url.api}}{{url.avatar}}/{{post.author}}', alt='{{post.author}}', title='{{post.author}}')
                    span {{post.author}}
                span.post-category
                    i.md-list.left-icon
                    |{{post.category.name}}
                span
                    i.md-access-time.left-icon
                    span.post-date {{post.createDate}}
                    i.md-mode-edit.left-icon
                    span {{post.lastModifiedDate}}
        msg-box(ng-show='getPostError', callback='getPostError=false') 获取文章失败！
    .post-html(ng-show='isPostPreview')
        .menu
            button.btn.close-preview-btn(ng-click='isPostPreview=false', ripple) 关闭
            button.btn.btn-blue.right.edit-post-btn(ng-click='editPost()', ripple) 编辑
        .container.markdown(ng-bind-html='postHtml')

    .category-content(ng-class='{show:isCategoryShown}')
        p 文章分类
        ul.categories-list
            li(ng-repeat='category in categories', ng-class='{active:category._id===currentCate}')
                a(href='javascript:;', ripple, ng-click='switchCategory(category)')
                    | {{category.name}}
                    span.category-count ( {{category.count}} )
                .category-action
                    button.btn.md-mode-edit.edit-category-btn(ng-click='showEditCategory(category)')
                    button.btn.md-remove-circle.delete-category-btn(ng-click='showDeleteCategory(category)')

        form.new-category(name='category')
            input(type='text', placeholder='新分类名称', name='category-name', ng-model='newCategoryName')
            button.btn.btn-blue(ng-click='newCategory()', ripple) 添加
dialog-box(ng-show='isEditCategory', title='修改分类名', confirm='editCategory()', cancel='isEditCategory=false')
    md-input(name='categoryName', title='文章名称', desc='新的文章名称', ng-model='newCate', value='tmp.category', type='text')
dialog-box(ng-show='isDeleteCategory', title='删除分类', confirm='deleteCategory()', cancel='isDeleteCategory=false')
    p 即将删除该分类。删除前请确保该分类下已经没有文章，否则无法删除。
msg-box(type='error', ng-show='error', callback='error=false') {{message}}
msg-box(ng-show='success', callback='success=false') {{message}}