extends admin

block settings
    form(method='post', action='#{adminPath}/settings')
        input(type='text', name='blog_title', placeholder='Blog title')
        input(type='text', name='blog_desc', placeholder='Blog description')
        input(type='text', name='blog_admin_path', placeholder='Blog admin path')
        input(type='text', name='blog_logo', placeholder='Blog logo')
        input(type='text', name='blog_favicon', placeholder='Blog favicon')
        input(type='text', name='blog_navs', placeholder='Blog nav')
        input(type='radio', name='blog_signup')
        button(type='submit') submit
        