extends admin

block admin_css
    link(rel='stylesheet', href='/css/codemirror.css')

block admin_script
    script(src='/js/codemirror.js')
    script(src='/js/jquery.fs.selecter.min.js')
    script(type='text/javascript')
        | (function () {
        |     var codeMirror = CodeMirror.fromTextArea($("#new-post-area")[0], {
        |         mode: null,    
        |         indentUnit: 4,
        |         lineNumbers: true,
        |         lineWrapping: true,
        |     });
        |     $(".db-new-title").focus();
        |     $("select").selecter();
        | })()

block new_post
    section.db-wrapper
        div.db-new-main
            form#new-post(method='post', action='#{adminPath}/post/new')
                div.db-new-header
                    div.col-xs-12.col-md-8
                        input.db-new-title.form-control#post-title(type='text', name='title', placeholder='Post Title')
                    div.col-xs-6.col-md-2
                        div.db-cate-selecter(tabindex="0")
                            select(name='categories', tabindex='-1')
                                - if (categories)
                                    - categories.forEach(function (item, index) {
                                        option(value='#{item.name}') #{item.name}
                                        
                                    - })
                    div.col-xs-6.col-md-2
                        div.input-group
                            input.form-control(type='text', name='name', placeholder='New Category')
                            div.input-group-btn
                                button.btn.btn-default(type='submit', formaction='#{adminPath}/category/new') 创建
                div.db-new-editor
                    textarea.new-post-area#new-post-area(name='post')
                div.db-tags.input-group
                    input.form-control.db-tag(type='text', placeholder='文章标签。多个标签请用“，”号隔开。' name='tags')
                    div.input-group-btn
                        button.btn.btn-primary.db-publish(form='new-post') 发表