extends layout
block extra_css
    block index_css
    link(rel='stylesheet', href='/css/index.css')
block content
    .content
        .navbar
            a.menu-btn(href='javascript:;')
                i.fa.fa-list
            .blog-logo
                img.logo-img(src='')
            ul.navbar-list
                li: a.active(href='/') HOME
                li: a(href='/blog') BLOG
                li: a(href='/gallery') GALLERY
                li: a(href='/about') ABOUT
            .site-info
                p 
                    |This website is hosted in 
                    a(href='http://www.vultr.com/?ref=6809553', target='_blank') Vultr
                p
                    | Created and designed by 
                    a(href='/u/damn') serenader
                    |   with 
                    i.fa.fa-heart
                p
                    | 2014/08
        .main
            block inner
block extra_script
    script.
        $('.menu-btn').on('click', function (event) {
            event.preventDefault();
            $(this).toggleClass('open');
            $('.navbar-list').toggle(200);
        });        
    block index_script