extends layout
block extra_css
    link(rel='stylesheet', href='/css/index.css')

block content
    .post-list
        ul
        - each post, index in posts
            li: a(href='/blog/#{post._id}') #{post.title}