extends layout
block content
    .db-sign
        form.db-sign-form(action='#{adminPath}/signup', method='post')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-user.db-icon.db-sign-icon
                    input(type='text', placeholder='User name', name='id')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-envelope.db-icon.db-sign-icon
                    input(type='text', placeholder='Email', name='email')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-lock.db-icon.db-sign-icon
                    input(type='password', placeholder='Password', name='password')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-lock.db-icon.db-sign-icon
                    input(type='password', placeholder='Repeat the password')
            .db-outer
                button.db-submit(type='submit') Submit
            .db-outer
                .db-inner.db-sign-helper
                    span: a.db-sign-btn(href='#{adminPath}/signin') 登录
                    span: a.db-forget-btn(href='') 忘记密码？