extends layout
block content
    div
        form(action='#{adminPath}/signin', method='post')
            input(type='text', placeholder='Email', name='email')
            input(type='password', placeholder='Password', name='password')
            button(type='submit') Submit