extends layout
block extra_css
    link(rel='stylesheet', href='/css/index.css')
    - var bg = background === '/img/default_background.jpg' ? '/img/default_background.jpg' : '/static/background/' + background;
    style.
        .db-sign {
        background: url(#{bg});
        background-position: center;
        background-size: cover;
        }
block content
    .db-sign
        .db-sign-form
            span.db-err-msg
            .db-outer
                .db-inner
                    span.db-sign-title Sign up
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-user.db-icon.db-sign-icon
                    input(type='text', name='id')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-envelope.db-icon.db-sign-icon
                    input(type='text', name='email')
            .db-outer
                .db-inner
                    i.glyphicon.glyphicon-lock.db-icon.db-sign-icon
                    input(type='password', name='password')
            .db-outer
                button.db-submit(type='submit') Submit
            .db-outer
                .db-inner.db-sign-helper
                    span: a.db-sign-btn(href='#{adminPath}/signin') 登录
                    span: a.db-forget-btn(href='') 忘记密码？
            .db-outer
                .db-inner
                    hr
                    span.db-info
                        | Created By serenader with 
                        span.heart ❤

block extra_script
    script.
        $('.db-submit').on('click', function (event) {
            event.preventDefault();
            var id = $('input[name="id"]').val();
            var email = $('input[name="email"]').val();
            var password = $('input[name="password"]').val();
            $.ajax({
                type: 'POST',
                data: {
                    id: id,
                    email: email,
                    password: password
                },
                url: '#{adminPath}/signup',
                dataType: 'json',
                success: function (result) {
                    if (result.status === 1) {
                        alert('signup success');
                        setTimeout(function () {
                            window.location = '#{adminPath}/signup';
                        }, 3000);
                    } else {
                        $('.db-err-msg').show().html(result.error);
                    }
                }
            });
        });