/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*   Fonts   */
@font-face {
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 400;
    src: local('Niconne'), local('Niconne-Regular'), url(/fonts/niconne-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 400;
    src: local('Niconne'), local('Niconne-Regular'), url(/fonts/niconne.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans-light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans.woff) format('woff');
}

/*   Global   */
* {
    box-sizing: border-box;
}

html {
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    color: #434a54;
}

a {
    color: #3bafda;
    text-decoration: none;
}

a:hover {
    color: #5FB8D9;
    text-decoration: none;
}

input[type="text"] {
    display: inline-block;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.4rem;
    color: #454545;
    transition: box-shadow 0.1s;
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

input[type="text"]:focus {
    box-shadow: 4px 0 0 #3BAFDA inset;
    outline: none;
}


.btn {
    outline: none;
    margin: 0;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    color: #081E29;
    font-size: 1.4rem;
    transition: background 0.3s;
    background: #FFFFFF;
}

.btn:hover {
    background: #EEEEEE;
}

.btn-primary {
    color: #FFFFFF;
    border: 1px solid #46A1CF;
    background: #4EB3E6;
}

.btn-primary:hover {
    background: #6CBDE6;
}

.btn-danger {
    color: #FFFFFF;
    border: 1px solid #DB354E;
    background: #F73B58;
}

.btn-danger:hover {
    background: #F7546D;
}


/*   Global Error Page Style   */
.error-container {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #E4E6E5;
}

.error-wrapper {
    display: table-cell;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.error-header {
    font-size: 20rem;
    line-height: 15rem;
    text-shadow: 2px 2px 0 #F7FAF9;
}

.error-words {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.error-detail {
    width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
    background: #CCCCCC;
}


/*   Modal style   */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.5);
}

.modal-wrapper {
    max-width: 80rem;
    min-width: 40rem;
    margin: 5rem auto;
    padding: 1.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #FFFFFF;
}

.modal-header {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #EEEEEE;
}

.close {
    float: right;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 2rem;
    color: #CCCCCC;
    cursor: pointer;
    background: none;
}

.close:hover {
    color: #A8A8A8;
}

.modal-title {
    font-size: 2rem;
    vertical-align: middle;
    font-weight: bold;
    color: #444444;
}

.modal-body {
    margin-bottom:2rem;
    font-size: 1.5rem;
}

.modal-footer {
    padding: 0.8rem 0.8rem 0;
    text-align: right;
    border-top: 1px solid #EEEEEE;
}

.modal-footer button {
    padding: 0.8rem 1.5rem;
    margin-left: 1rem;
    border-radius: 0.4rem;
}

/*   Global MSG style   */
.msg {
    display: none;
    position: fixed;
    top: 8rem;
    left: 0;
    right: 0;
    z-index: 999;
}

.msg-wrapper {
    width: 30rem;
    margin: auto;
    padding: 2rem;
    border: 1px solid #CECECE;
    border-radius: 0.4rem;
    box-shadow: 0 0 20px rgba(8,8,8,0.2);
    background: #FFFFFF;
}

.msg-content {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.msg-success .msg-wrapper {
    color: #FFFFFF;
    background: #61E8A7;
}

.msg-error .msg-wrapper {
    color: #FFFFFF;
    background: #F56E6E;
}