@mixin buttonWithHover($color, $amount) {
    background: $color;
    transition: background 0.3s;
    &:hover {
      background: lighten($color, $amount);

    }
}


// Global style

html {
  font-family: 'Open Sans' 'Microsoft Yahei';
  height: 100%;
}

body {
  height: 100%;
}

input[type='text'] {
  // transition: box-shadow 0.3s;
}

input[type='text']:focus {
  // border-color: #FFFFFF;
  box-shadow: 4px 0 0 #3BAFDA inset;
  outline: none;
}


// Global error style 

.error-container {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #E4E6E5;
}

.error-wrapper {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.error-header {
  font-size: 20rem;
  line-height: 15rem;
  text-shadow: 2px 2px 0 #F7FAF9;
}

.error-words {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.error-detail {
  width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
  background: #CCCCCC;
}


// Sign in / sign up style

.db-sign{
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #242628;
}

.db-sign-form {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(0,0,0,0.1);

  input {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 3rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
    @include buttonWithHover(rgba(255,255,255,0), 10%);
    box-shadow: 0 0 0.7rem rgba(255,255,255,0.5);
    text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
    outline: none;
    &:focus {
      background: rgba(255,255,255,0.2);
    }
  }

  .db-inner {
    display: inline-block;
    position: relative;
  }

  .db-outer {
    text-align: center;
    margin: 2rem 0;
  }

  .db-sign-icon {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.5);
  }

  .db-submit {
    padding: 0.9rem 2rem;
    width: 25rem;
    border: 1px solid rgba(255,255,255,0.8);
    font-size: 1.8rem;
    color: #FFFFFF;
    background: rgba(255,255,255,0.2);
    outline: none;      
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    &:hover {
      background: darken(rgba(255,255,255,0.2), 10%);
    }
  }

  .db-sign-helper {
    width: 25rem;
    text-shadow: 0 1px 0 #000000;
  }

  .db-sign-btn {
    color: #FFFFFF;
    float: left;
  }

  .db-forget-btn {
    color: #FFFFFF;
    float: right;
  }
}

.db-info {
  color: rgba(255,255,255,0.8);
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.db-err-msg {
  display: inline-block;
  padding: 1rem;
  width: 25rem;
  background: #E9573F;
  box-shadow: 0 0 1.5rem #FC6E51;
  color: #FFFFFF;
}

.db-sign-title {
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

.heart {
  color: #DE3E4B;
}




// index style

.index-wrapper {
  width: 100%;
  height: 100%;
}

.fs {
  display: table;
  width: 100%;
  height: 100%;
}

.fs-wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.fs-index {
  background: rgba(121,214,214,0.3);
  background-image: url(/img/default_index.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

$fs-base-color: #E8F2FC;

.fs-1 {
  background: adjust-hue($fs-base-color, 36%);
}

.fs-2 {
  background: adjust-hue($fs-base-color, 72%);
}

.fs-3 {
  background: adjust-hue($fs-base-color, 108%);
}

.fs-4 {
  background: adjust-hue($fs-base-color, 144%);
}

.fs-5 {
  background: adjust-hue($fs-base-color, 180%);
}

.fs-6 {
  background: adjust-hue($fs-base-color, 216%);
}

.fs-7 {
  background: adjust-hue($fs-base-color, 252%);
}

.fs-8 {
  background: adjust-hue($fs-base-color, 288%);
}

.fs-9 {
  background: adjust-hue($fs-base-color, 324%);
}

.fs-10 {
  background: adjust-hue($fs-base-color, 360%);
}

.index-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  z-index: 99;
  background-color: rgba(0,0,0,0.2);
}

.header-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
  }

  a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: #616161;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  }

  a.active {
    color: #EDEDED;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  }
}
.blog-name {
  color: rgba(255,255,255,0.7);
  font-size: 15rem;
  line-height: 12rem;
  word-break: break-all;
  text-transform: uppercase;
}

.blog-desc {
  color: #FFFFFF;
}

.next {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 3rem;
  text-align: center;

  a {
    
    color: #C2C2C2;
    &:hover {
      color: #B0B0B0;
    }
  }
}

.post-wrapper {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.post-title {
  a {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    color: #2F2F2F;
    text-transform: uppercase;
    &:hover {
      color: #444444;
    }
  }
}

.post-info {
  margin: 1rem 0;
  .post-author, .post-category {
    padding: 0 0.5rem;
    border-right: 1px solid;
  }

  span {
    padding: 0.5rem;
  }
}

.post-read-more {
  color: #454545;
  font-style: italic;
  text-decoration: underline;
  &:hover {
    color: #242424;
  }
}

.post-content {
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #2F2F2F;
}

.load-more a {
  display: block;
  padding: 2rem 1rem;
  border-top: 1px solid #B6CAE0;
  text-align: center;
  // font-size: 2rem;
  color: #153557;
  background: #E8F2FC;
}