/* latin-ext */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local("Niconne"), local("Niconne-Regular"), url(/fonts/niconne-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local("Niconne"), local("Niconne-Regular"), url(/fonts/niconne.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: 'Open Sans' 'Microsoft Yahei';
  height: 100%; }

body {
  height: 100%; }

input[type='text']:focus {
  box-shadow: 4px 0 0 #3BAFDA inset;
  outline: none; }

.error-container {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #E4E6E5; }

.error-wrapper {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle; }

.error-header {
  font-size: 20rem;
  line-height: 15rem;
  text-shadow: 2px 2px 0 #F7FAF9; }

.error-words {
  margin-top: 1rem;
  font-size: 1.8rem; }

.error-detail {
  width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  background: #CCCCCC; }

.db-sign {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #242628; }

.db-sign-form {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1); }
  .db-sign-form input {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 3rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;
    box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    outline: none; }
    .db-sign-form input:hover {
      background: rgba(255, 255, 255, 0); }
    .db-sign-form input:focus {
      background: rgba(255, 255, 255, 0.2); }
  .db-sign-form .db-inner {
    display: inline-block;
    position: relative; }
  .db-sign-form .db-outer {
    text-align: center;
    margin: 2rem 0; }
  .db-sign-form .db-sign-icon {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
  .db-sign-form .db-submit {
    padding: 0.9rem 2rem;
    width: 25rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    .db-sign-form .db-submit:hover {
      background: rgba(230, 230, 230, 0.2); }
  .db-sign-form .db-sign-helper {
    width: 25rem;
    text-shadow: 0 1px 0 #000000; }
  .db-sign-form .db-sign-btn {
    color: #FFFFFF;
    float: left; }
  .db-sign-form .db-forget-btn {
    color: #FFFFFF;
    float: right; }

.db-info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.db-err-msg {
  display: none;
  padding: 1rem;
  width: 25rem;
  background: #E9573F;
  box-shadow: 0 0 1.5rem #FC6E51;
  color: #FFFFFF; }

.db-sign-title {
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase; }

.heart {
  color: #DE3E4B; }

.index {
  min-height: 100%;
  padding: 5rem 0;
  background: #F0F3F6; }
  .index .index-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF; }
  .index .blog {
    text-align: center; }
    .index .blog .blog-name {
      position: relative;
      margin: auto;
      max-width: 800px;
      min-width: 500px;
      line-height: 12rem;
      font-size: 12rem;
      font-family: 'Niconne';
      text-shadow: 2px 4px 0 #FFFFFF; }
    .index .blog .blog-desc {
      display: none;
      position: absolute;
      top: 10rem;
      left: 0;
      right: 0;
      margin: 1rem 0;
      padding: 1rem;
      font-size: 2.3rem;
      font-weight: 100;
      line-height: normal;
      border: 1px solid #DEDEDE;
      border-radius: 0.3rem;
      text-shadow: 0 2px 0 #EEEEEE;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      z-index: 1;
      background: #FFFFFF; }
      .index .blog .blog-desc:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: #FFFFFF; }
  .index .navbar ul {
    max-width: 980px;
    margin: auto;
    padding: 0;
    text-align: center;
    list-style: none; }
  .index .navbar li {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC; }
  .index .post-title a {
    font-size: 4rem; }
