::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ced6dc; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ced6dc;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ced6dc;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ced6dc; }

/* iCheck plugin Flat skin, blue
----------------------------------- */
.icheckbox_flat-blue,
.iradio_flat-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(blue.png) no-repeat;
  border: none;
  cursor: pointer; }

.icheckbox_flat-blue {
  background-position: 0 0; }

.icheckbox_flat-blue.checked {
  background-position: -22px 0; }

.icheckbox_flat-blue.disabled {
  background-position: -44px 0;
  cursor: default; }

.icheckbox_flat-blue.checked.disabled {
  background-position: -66px 0; }

.iradio_flat-blue {
  background-position: -88px 0; }

.iradio_flat-blue.checked {
  background-position: -110px 0; }

.iradio_flat-blue.disabled {
  background-position: -132px 0;
  cursor: default; }

.iradio_flat-blue.checked.disabled {
  background-position: -154px 0; }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_flat-blue,
  .iradio_flat-blue {
    background-image: url(blue@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/opensans-light.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/opensans.woff) format("woff"); }
html {
  font-family: 'Open Sans';
  height: 100%; }

body {
  height: 100%; }

.error-container {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #E4E6E5; }

.error-wrapper {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle; }

.error-header {
  font-size: 20rem;
  line-height: 15rem;
  text-shadow: 2px 2px 0 #F7FAF9; }

.error-words {
  margin-top: 1rem;
  font-size: 1.8rem; }

.error-detail {
  width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  background: #CCCCCC; }

.db-admin {
  padding-left: 7rem;
  width: 100%;
  height: 100%;
  background: #f0f3f6; }
  .db-admin ::selection {
    background: rgba(219, 48, 60, 0.5);
    color: #FFFFFF;
    /* WebKit/Blink Browsers */ }
  .db-admin ::-moz-selection {
    background: rgba(219, 48, 60, 0.5);
    color: #FFFFFF;
    /* Gecko Browsers */ }
  .db-admin ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ced6dc; }
  .db-admin :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ced6dc;
    opacity: 1; }
  .db-admin ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ced6dc;
    opacity: 1; }
  .db-admin :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ced6dc; }

.db-nav-right {
  float: right;
  width: 25%;
  text-align: right; }

.db-nav-left {
  float: left;
  width: 25%;
  text-align: left; }

.db-dashboard-title {
  float: left;
  width: 50%;
  padding: 1.8rem;
  text-align: center; }

.db-nav-left, .db-nav-right {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .db-nav-left li, .db-nav-right li {
    display: inline-block; }
  .db-nav-left a, .db-nav-right a {
    display: inline-block;
    padding: 1.8rem;
    font-size: 1.5rem; }

.db-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #121920; }

.db-nav-wrapper {
  height: 100%;
  position: relative; }

.db-brand-wrapper a {
  display: inline-block;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 7rem;
  font-size: 1.5rem;
  background: #2bbfbd;
  color: #FFFFFF;
  text-align: center; }

.db-menu-wrapper {
  margin: 0;
  padding: 0;
  list-style: none; }
  .db-menu-wrapper li {
    padding-top: 3rem;
    text-align: center; }
    .db-menu-wrapper li a {
      display: block;
      color: #292f35;
      font-size: 1.8rem; }
      .db-menu-wrapper li a:hover {
        color: #454F59; }

.db-setting-btn {
  position: absolute;
  bottom: 3rem;
  width: 7rem; }

.db-header-nav {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.db-header-nav .nav li a {
  color: #53646d;
  font-size: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem; }
  .db-header-nav .nav li a:hover {
    color: #728A96; }

.db-delete-post {
  float: right;
  color: #C24C4C;
  font-size: 2rem; }

.db-delete-post:hover {
  color: #C23232; }

.db-cate-ctrl {
  display: none; }

.db-cate-list:hover .db-cate-ctrl {
  float: right;
  display: block; }
.db-cate-list:hover .badge {
  display: none; }

.db-cate-delete, .db-cate-edit {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  margin-left: 0.3rem;
  border-radius: 0.3rem;
  color: #FFFFFF;
  background: #aab2bd; }
  .db-cate-delete:hover, .db-cate-edit:hover {
    background: #3bafda;
    color: #FFFFFF; }

.db-editor-wrapper {
  position: absolute;
  top: 5.2rem;
  bottom: 0;
  left: 7rem;
  right: 0;
  padding: 1rem 1rem 0 1rem; }
  .db-editor-wrapper .editor-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
    .db-editor-wrapper .editor-fullscreen .CodeMirror {
      background: #FBFCF7; }

.db-preview {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border: 1px solid #CCCCCC;
  border-radius: 0.3rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden; }

.db-preview-close {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 2rem;
  color: #DB636B; }

.db-preview-header {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  padding: 0.5rem;
  background: #EEEEEE;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .db-preview-header p {
    text-align: center;
    margin: 0;
    text-shadow: 0 1px 0 #FFFFFF; }

.db-preview-main {
  padding: 3rem 2rem 0 2rem; }

.db-editor-helper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 1rem;
  background: rgba(250, 250, 250, 0.8); }
  .db-editor-helper a {
    float: right;
    margin-left: 1rem;
    color: #6A7585; }

.db-tag-input {
  display: none; }

.db-new-header {
  margin-bottom: 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .db-new-header input {
    border-radius: 0;
    padding: 0 1rem;
    height: 50px;
    border-color: #ced6dc;
    font-size: 2rem;
    color: #727f8c; }
  .db-new-header:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both; }

.db-cate-selecter {
  position: absolute;
  top: 0;
  right: 0;
  width: 10.8rem; }

.selecter-selected, .selecter-item {
  padding: 9px !important;
  border-radius: 0 !important;
  border: 1px solid #ced6dc !important;
  font-size: 1.5rem;
  line-height: 30px; }
  .selecter-selected:after, .selecter-item:after {
    top: 22px !important; }

.db-title-wrapper {
  position: relative;
  padding: 0; }

.db-tags {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem; }
  .db-tags .db-tag {
    padding: 15px;
    width: 30rem;
    display: inline-block;
    height: 100%;
    border: none;
    border-radius: 0; }

.db-single-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: #3BAFDA;
  color: #FFFFFF; }
  .db-single-tag:hover {
    color: #FFFFFF;
    background: #50b8de; }
  .db-single-tag i {
    position: relative;
    top: 2px;
    left: 2px; }

.db-publish {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 0;
  line-height: 28px;
  padding: 10px 50px; }

.db-new-main {
  position: relative;
  height: 100%; }

.db-new-editor {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.8rem;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .db-new-editor .CodeMirror {
    padding: 4.5rem 1.5rem 0;
    font-family: 'Open Sans', 'Microsoft Yahei';
    font-weight: 100;
    color: #384E63;
    line-height: 2.3rem; }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px 5px;
  overflow-x: hidden;
  overflow-y: auto; }

.db-sign {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #242628; }

.db-sign-form {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1); }
  .db-sign-form input {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 3rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;
    box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    outline: none; }
    .db-sign-form input:hover {
      background: rgba(255, 255, 255, 0); }
    .db-sign-form input:focus {
      background: rgba(255, 255, 255, 0.2); }
  .db-sign-form .db-inner {
    display: inline-block;
    position: relative; }
  .db-sign-form .db-outer {
    text-align: center;
    margin: 2rem 0; }
  .db-sign-form .db-sign-icon {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
  .db-sign-form .db-submit {
    padding: 0.9rem 2rem;
    width: 25rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    .db-sign-form .db-submit:hover {
      background: rgba(230, 230, 230, 0.2); }
  .db-sign-form .db-sign-helper {
    width: 25rem;
    text-shadow: 0 1px 0 #000000; }
  .db-sign-form .db-sign-btn {
    color: #FFFFFF;
    float: left; }
  .db-sign-form .db-forget-btn {
    color: #FFFFFF;
    float: right; }

.db-info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.db-err-msg {
  display: inline-block;
  padding: 1rem;
  width: 25rem;
  background: #E9573F;
  box-shadow: 0 0 1.5rem #FC6E51;
  color: #FFFFFF; }

.db-sign-title {
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase; }

.heart {
  color: #DE3E4B; }
