@mixin buttonWithHover($color, $amount) {
    background: $color;
    transition: background 0.3s;
    &:hover {
      background: lighten($color, $amount);

    }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ced6dc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ced6dc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ced6dc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ced6dc;
}


/* iCheck plugin Flat skin, blue
----------------------------------- */
.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-blue {
    background-position: 0 0;
}
    .icheckbox_flat-blue.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-blue.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-blue.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-blue {
    background-position: -88px 0;
}
    .iradio_flat-blue.checked {
        background-position: -110px 0;
    }
    .iradio_flat-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -154px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}



// Global style

html {
  font-family: 'Open Sans' 'Microsoft Yahei';
  height: 100%;
}

body {
  height: 100%;
}

input[type='text'] {
  // transition: box-shadow 0.3s;
}

input[type='text']:focus {
  // border-color: #FFFFFF;
  box-shadow: 4px 0 0 #3BAFDA inset;
  outline: none;
}


// Global error style 

.error-container {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #E4E6E5;
}

.error-wrapper {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.error-header {
  font-size: 20rem;
  line-height: 15rem;
  text-shadow: 2px 2px 0 #F7FAF9;
}

.error-words {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.error-detail {
  width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
  background: #CCCCCC;
}



// Admin panel global style

.db-admin {
  ::selection {
    background: rgba(219,48,60,0.5);
    color: #FFFFFF; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(219,48,60,0.5);
    color: #FFFFFF; /* Gecko Browsers */
  }
  padding-left: 7rem;
  width: 100%;
  height: 100%;
  background: #f0f3f6;

  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #ced6dc;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #ced6dc;
      opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #ced6dc;
      opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #ced6dc;
  }
}


// Admin panel navbar style

.db-nav-right {
  float: right;
  width: 25%;
  text-align: right;
}

.db-nav-left {
  float: left;
  width: 25%;
  text-align: left;
}

.db-dashboard-title {
  float: left;
  width: 50%;
  padding: 1.8rem;
  text-align: center;
}

.db-nav-left, .db-nav-right {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    padding: 1.8rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}


.db-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #121920;
}

.db-nav-wrapper {
  height: 100%;
  position: relative;
}

.db-brand-wrapper {

  a {
    display: inline-block;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    width: 7rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.8rem;
    background: #2bbfbd;
  }
}

.db-menu-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-top: 3rem;
    text-align: center;

    a {
      display: block;
      color: #292f35;
      font-size: 1.8rem;
      &:hover {
        color: #454F59;
      }
    }
  }
}

.db-setting-btn {
  position: absolute;
  bottom: 3rem;
  width: 7rem;
}

.db-header-container {
  position: relative;
}

.db-header-nav {
  position: absolute;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  z-index: 99;
}

.db-header-nav .nav li a {
  color: #53646d;
  font-size: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  &:hover {
    color: #728A96;
  }
}


// Admin gallery section

.db-gallery {
  padding: 6.4rem 1rem 2rem 1rem;
  height: 100%;
  overflow: auto;

  .album-name {
    padding: 0.8rem 1.5rem;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    font-size: 1.5rem;
  }

  .album-private {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .album-desc {
    padding: 1rem;
    margin: 1rem 0;
    height: 13rem;
    border-radius: 0;
    border: 1px solid #E0E0E0;
  }

  .album-btn {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #A5CBD9;
    background: #3BAFDA;
  }

  .db-gallery-list {
    display: inline-block;

    ul {
      padding: 0;
      list-style: none;
    }

    ul:after {
      content: '';
      display: block;
      clear: both;
    }

    li {
      display: inline-block;
      float: left;
      width: 22rem;
      height: 27rem;
      padding: 1rem;
      margin: 1.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      background: #FFFFFF;

      a {
        display: block;
      }

      i {
        margin-right: 1rem;
        font-size: 1.3rem;
        color: #9C9C9C;
      }

      .db-album-cover {
        display: block;
        width: 20rem;
        height: 15rem;
        background-color: #EEEEEE;
        background-size: cover;
        background-position: center;
      }

      .db-album-name {
        display: block;
        height: 3rem;
        margin: 0.8rem 0 1rem;
        padding: 0.5rem 0;
        border-top: 1px solid #EEEEEE;
        color: #555555;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 3rem;
        overflow: hidden;
      }

      .db-album-desc {
        display: block;
        text-transform: capitalize;
        max-height: 4rem;
        overflow: hidden;
      }
      
    }
  }

}

.db-album-detail {
  padding: 6.4rem 1rem 1rem 1rem;
  height: 100%;
  overflow: auto;

  .db-album-wrapper {
    position: relative;
    height: 100%;
    padding-right: 28rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background: #FFFFFF;
  }

  .images {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 2rem;
    overflow-y: auto;
  }

  .no-image {
    margin-top: 5rem;
    text-align: center;
    color: #CCCCCC;
  }

  .db-album-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28rem;
    padding: 2rem;
    background: #F7F7F7;
    padding-bottom: 1rem;
    overflow-y:auto; 
    box-shadow: -3px 3px 5px rgba(0,0,0,0.1);    
  }

  .db-album-cover {
    .cover {
      width: 18rem;
      height: 18rem;
      margin: 0 auto;
      border-radius: 100%;
      box-shadow: 0 0 3px rgba(0,0,0,0.1);
      background-size: cover;
      background-position: center;
      background-color: #EEEEEE;
    }
  }

  .db-album-name {
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #212E3B;
    font-size: 2.8rem;
    border-bottom: 1px solid #ECECEC;
  }

  .db-img-container {
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid #E8E8E8;
    background: #FAFAFA;
  }

  .db-img {
    display: inline-block;
    width: 20rem;
    height: 16rem;
    background-size: cover;
    background-position: center;
  }

  .upload-btn, .edit-btn {
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #5D81A6;
    border: 1px solid;
    border-radius: 0.3rem; 
    background: #FFFFFF;

    &:hover {
      color: #3BAFDA;
    }
  }

  .upload-icon, .edit-icon {
    margin-right: 0.5rem;
  }

  .db-upload-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
  }

  .db-upload-inner {
    position: absolute;
    top: 4rem;
    bottom: 1rem;
    left: 5%;
    right: 5%;
    text-align: center;
  }

  .db-inner-wrapper {
    position: relative;
    max-height: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 0.3rem;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFFF;
  }

  .db-choose-img {
    padding: 4rem 0;
    border: 2px dashed #CCCCCC;
  }

  .db-upload-picker {
    display: block;
    width: 12rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    font-size: 1.8rem;
    border-radius: 0.3rem;
    background: #3BAFDA;
    &:hover {
      background: lighten(#3BAFDA, 10);
    }
  }

  .upload-helper {
    padding: 3rem 0 2rem;
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    a {
      display: inline-block;
      padding: 0.5rem 0.2rem;
      margin-right: 3rem;
      color: #3BAFDA;
      box-shadow: 0 1px 0 #CCCCCC;

      &:hover {
        box-shadow: 0 1px 0 #3BAFDA;
      }
    }
  }

  .db-img-list {
    display: none;
    table {
      width: 100%;
      text-align: left;
    }
    
    th {
      padding: 1rem;
      width: 20%;
      border-right: 1px solid #DEDEDE;
      &:last-child {
        border-right: none;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: #EEEEEE;
        }
      }
    }
    td {
      padding: 0.5rem 1rem;
      border-right: 1px solid #DEDEDE;
      &:nth-child(5n) {
        border-right: none;
        text-align: center;
      }

      &:nth-child(4n) {
        text-align: center;
      }

      &:nth-child(3n) {
        padding: 0 1rem;
      }
    }
  }

  .file-progress {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 12px;
    background: #CCCCCC;
  }

  .file-progress-inner {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    background: #AAAAAA;
  }

  .upload-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    text-shadow: 0 1px 0 #FFFFFF;
    background: #ECECEC;
  }

  .start-upload-all {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 1rem 2rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #3296BA;
    background: #3BAFDA;
    &:hover {
      background: lighten(#3BAFDA, 5%);
    }

  }
  .close-upload {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 1rem 2rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #7EB7CC;
    background: #91D2EA;
    &:hover {
      background: lighten(#91D2EA, 5%);
    }
  }

  .start-upload, .cancel-upload {
    padding: 0.5rem 2rem;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
  }

  .cancel-upload {
    background: #FF4A45;
  }

  .start-upload {
    background: #3BAFDA;
  }

  .upload-form {
    display: none;
  }
}


// Admin panel post section

.db-post-content {
  height: 100%;
}

.db-post-main {
  padding: 6.4rem 26rem 0 1rem;
  height: 100%;
}

.db-post-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF;
}

.no-post {
  margin-top: 8rem;
  text-align: center;
  color: #AAAAAA;
} 

.post-single {
  display: block;
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #EEEEEE;
}

.draft {
  box-shadow: 5px 0 0 #AAAAAA inset;
  background: #FAFAFA;
}

.post-title {
  margin: 0;
  font-size: 2rem;
  font-weight: lighter;
  color: #787878;
  &:hover {
    color: #454545;
  }
}

.post-main {
  position: relative;
}

.delete-post, .delete-draft {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCCCCC;
  font-size: 2rem;
  &:hover {
    color: #F2716D;
  }
}
.post-meta {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: #BBBBBB;
  span {
    margin-right: 0.5rem;
  }
}

.db-sidebar {
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0;
  width: 25rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #FFFFFF;
}

.db-sidebar-title {
  padding: 1.5rem 4rem;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #9E9E9E;
}

.db-sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem 0;
  ul {
    position: absolute;
    top: 7rem;
    bottom: 4rem;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.db-cate-list {
  position: relative;
  padding: 0 4rem;
  .badge {
    position: absolute;
    right: 0;
  }
  a {
    display: block;
    color: #9E9E9E;
    padding: 1rem 0;
    &:hover {
      color: #8A8A8A;
    }
  }
}

.db-add-cate {
  position: fixed;
  bottom: 0;
  width: 25rem;
  right: 0;
  .db-cate-wrapper {
    position: relative;
    box-shadow: 2px -1px 5px rgba(0,0,0,0.1);
  }

  .db-cate-input {
    border-radius: 0;
    height: 4rem;
    border: none;
  }

  .db-cate-btn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.9rem;
    margin: 0.5rem 1rem;
  }
}


.db-editor-wrapper {
  position: absolute;
  top: 5.2rem;
  bottom: 1rem;
  left: 7rem;
  right: 0;
  padding: 1rem 1rem 0 1rem;
  .editor-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    .CodeMirror {
      background: #FBFCF7;
    }
  }
}

.db-preview {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border: 1px solid #CCCCCC;
  border-radius: 0.3rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  background: #FFFFFF;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}

.db-preview-close {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 2rem;
  color: #DB636B;
}

.db-preview-header {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  padding: 0.5rem;
  background: #EEEEEE;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);

  p {
    text-align: center;
    margin:0;
    text-shadow: 0 1px 0 #FFFFFF;
  }
}

.db-preview-main {
  padding: 3rem 2rem 0 2rem;
}

.db-editor-helper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 1rem;
  background: rgba(250,250,250,0.8);

  a {
    float: right;
    margin-left: 1rem;
    color: #6A7585;
  }
}

.imgupload {
  .fileinput {
    display: none;
  }
  
  .upload-picker {
    display: block;
    text-align: center;
    border: 3px dashed #CCCCCC;
    padding: 1rem 0 5rem;
    span {
      display: block;
      width: 14rem;
      margin: 1rem auto;
      padding: 0.5rem 2rem;
      color: #FFFFFF;
      font-size: 2rem;
      border-radius: 0.5rem;
      background: #3BAFDA
    }

  }

}

.preview-container {
  display: none;
}

.upload-fail {
  display: none;
  padding: 3rem;
  text-align: center;
}

.upload-error-text {
  font-size: 2rem;
  color: #E3403D;
}

.upload-error-detail {
  color: #E3403D;
}

.img-preview {
  width: 100%;
  height: 100%;
}

.imgurl {
  margin-top: 1rem;

  input {
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    border: 1px solid #CCCCCC;
    border-radius: 0;
  }
}

.upload-progress {
  display: none;
  padding: 2rem;

  .progress-outer {
    position: relative;
    margin: 5rem 0;
    width: 100%;
    height: 2rem;
    background: #DEDEDE;
  }

  .progress-inner {
    position: absolute;
    height: 100%;
    background: #349CC2;
  }
}

.db-draft-info {
  margin-left: 1rem;
}

.db-tag-input {
  display: none;
}

.db-new-header {
  margin-bottom: 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  input {
    border-radius: 0;
    padding: 0 1rem;
    height: 50px;
    border-color: #ced6dc;
    font-size: 2rem;
    color: #727f8c;
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }
}

.db-cate-selecter {
  position: absolute;
  top: 0;
  right: 0;
  width: 10.8rem;
}

.selecter-selected, .selecter-item {
  padding: 9px !important;
  border-radius: 0 !important;
  border: 1px solid #ced6dc !important;
  font-size: 1.5rem;
  line-height: 30px;
  &:after {
    top: 22px !important;
  }
}

.db-title-wrapper {
  position: relative;
  padding: 0;
}

.db-tags {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 1.5rem;

  .db-tag {
    padding: 15px;
    width: 30rem;
    display: inline-block;
    height: 100%;
    border: none;
    border-radius:0;
  }
}

.db-single-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: #3BAFDA;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
    background: lighten(#3BAFDA, 5%);
  }

  i {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.db-publish {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 0;
  line-height: 28px;
  padding: 10px 50px;
}

.db-new-main {
  position: relative;
  height: 100%;
}

.db-new-editor {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.8rem;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  .CodeMirror {
    padding: 4.5rem 1.5rem 0;
    font-family: 'Open Sans', 'Microsoft Yahei';
    font-weight: 100;
    color: #384E63;
    line-height: 2.3rem;
  }
}


// admin panel file page

.db-file-wrapper {
  padding: 6.4rem 1rem 2rem 1rem;
}



// Sign in / sign up style

.db-sign{
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #242628;
}

.db-sign-form {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(0,0,0,0.1);

  input {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 3rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
    @include buttonWithHover(rgba(255,255,255,0), 10%);
    box-shadow: 0 0 0.7rem rgba(255,255,255,0.5);
    text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
    outline: none;
    &:focus {
      background: rgba(255,255,255,0.2);
    }
  }

  .db-inner {
    display: inline-block;
    position: relative;
  }

  .db-outer {
    text-align: center;
    margin: 2rem 0;
  }

  .db-sign-icon {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.5);
  }

  .db-submit {
    padding: 0.9rem 2rem;
    width: 25rem;
    border: 1px solid rgba(255,255,255,0.8);
    font-size: 1.8rem;
    color: #FFFFFF;
    background: rgba(255,255,255,0.2);
    outline: none;      
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    &:hover {
      background: darken(rgba(255,255,255,0.2), 10%);
    }
  }

  .db-sign-helper {
    width: 25rem;
    text-shadow: 0 1px 0 #000000;
  }

  .db-sign-btn {
    color: #FFFFFF;
    float: left;
  }

  .db-forget-btn {
    color: #FFFFFF;
    float: right;
  }
}

.db-info {
  color: rgba(255,255,255,0.8);
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.db-err-msg {
  display: inline-block;
  padding: 1rem;
  width: 25rem;
  background: #E9573F;
  box-shadow: 0 0 1.5rem #FC6E51;
  color: #FFFFFF;
}

.db-sign-title {
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

.heart {
  color: #DE3E4B;
}


