@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}

html {
  font-family: 'Open Sans';
  height: 100%;
}

body {
  height: 100%;
} 

.db-admin {
  padding-top: 70px;
}

.db-navbar {
  border-radius: 0;
}

.db-delete-post {
  float: right;
  color: #C24C4C;
  font-size: 2rem;
}

.db-delete-post:hover {
  color: #C23232;
}

.db-cate-ctrl {
  display: none;

}

.db-cate-list {
  &:hover {
    .db-cate-ctrl {
      float: right;
      display: block;
    }

    .badge {
      display: none;
    }
  }
}

.db-cate-delete, .db-cate-edit {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  margin-left: 0.3rem;
  border-radius: 0.3rem;
  color: #FFFFFF;
  background: #aab2bd;

  &:hover {
    background: #3bafda;
    color: #FFFFFF;
  }
}

.db-wrapper {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #F6F8F8;
}

.db-new-header {
  padding: 1rem 0;
  background: darken(#f7f7f7, 5%);
  .db-new-title {
    border-radius: 0;
    font-size: 2.2rem;
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }
}

.db-tags {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;

  .db-tag {
    padding: 15px;
    height: 50px;
    border-radius: 0;
    font-size: 1.5rem;
    border: none;
  }
}

.db-publish {
  font-size: 2rem;
  padding: 10px 40px;
  border-radius: 0;
}

.db-new-main {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 0.2rem;
  border-top: 1px solid #F1F1F1;
  border-right: 1px solid #E7E6E6;
  border-left: 1px solid #E7E6E6;
  border-bottom: 1px solid #CFCFCF;
  background: #EBEBEB;
}

.db-new-editor {
  position: absolute;
  top: 60px;
  bottom: 51px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  font-size: 1.8rem;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px 5px;
  overflow-x: hidden;
  overflow-y: auto; 
}
