extends layout

block css
    //- link(rel='stylesheet', href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400')
    link(rel='stylesheet', href='#{assets.server}/css/sign.css')/
    link(rel='stylesheet', href='#{assets.server}/css/md-icon.min.css')/
block title
    title  Setup
block content
    form.wrapper(method='post')
        .title
            input(type='text', placeholder='Blog title', required)/
        .description
            input(type='text', placeholder='Blog description', required)/
        .user
            input(type='text', placeholder='username', required)/
        .password
            input(type='password', placeholder='password', required)/
        .email
            input(type='email', placeholder='email', required)/
        .submit
            button(type='submit') Submit
    
