extends layout

block css
    link(rel='stylesheet', href='#{assets.server}/css/sign.css')/
    link(rel='stylesheet', href='#{assets.server}/css/md-icon.min.css')/
block title
    title 登录
block content
    .sign
block script
    script(type='text/template', id='signin').
        <form class='signin'>
            <div class='account-icon'>
                <i class='md-account-circle'></i>
            </div>
            <div class='input'>
                <label for='signin-name'>Username</label>
                <input type='text' name='username' id='signin-name' required minlength='4' maxlength='16'/>
                <span class='input-bar'></span>
            </div>
            <div class='input'>
                <label for='signin-pwd'>Password</label>
                <input type='password' name='password' id='signin-pwd'/>
                <span class='input-bar'></span>
                <span class='input-description'>Password must be 6-18 cha</span>
            </div>
            <div>
                <button class='btn btn-primary btn-blue ripple sign-btn' type='submit'>Sign In</button>
            </div>
            <div class='sign-helper'>
                <p><a href='javascript:;' class='signup-btn'>Sign Up</a></p>
                <p><a href='javascript:;' class='forget-btn'>Forget password</a></p>
            </div>
        </form>
    script(type='text/template', id='signup').
        <form class='signup'>
            <div class='account-icon'>
                <i class='md-account-circle'></i>
            </div>
            <div class='input'>
                <label for='signup-name'>Username</label>
                <input type='text' name='username' id='signup-name'/>
            </div>
            <div class='input'>
                <label for='signup-email'>Email</label>
                <input type='text' name='email' id='signup-email'/>
            </div>
            <div class='input'>
                <label for='signup-pwd'>Password</label>
                <input type='password' name='password' id='signup-pwd'/>
            </div>
            <div class='input'>
                <label for='signup-re-pwd'>Repeat password</label>
                <input type='password' name='signup-re-pwd' />
            </div>
            <div>
                <button class='btn btn-primary btn-blue ripple sign-btn' type='submit'>Sign Up</button>
            </div>
            <div class='sign-helper'>
                <p><a href='javascript:;' class='signin-btn'>Sign In</a></p>
            </div>
        </form>
    script(type='text/javascript', src='#{assets.server}/js/vendor.js')
    script(type='text/javascript', src='#{assets.server}/js/serenader.js')
