extends layout

block css
    link(rel='stylesheet', href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400')
    link(rel='stylesheet', href='#{assets.server}/css/build/sign.css')/
    link(rel='stylesheet', href='#{assets.server}/css/build/md-icon.min.css')/
block title
    title 登录
block content
    .sign(ng-controller='signController' ng-view)

block script
    include ./build/sign_scripts.jade
