.album-list {
    padding: 1.5rem;

    li {
        display: inline-block;
        position: relative;
        width: 22rem;
        height: 27rem;
        padding: 1rem;
        margin: 0 1.5rem 1.5rem 0;
        vertical-align: top;
        box-shadow: $shadow-1;
        background: $white;
    }
}
.new-album {
    input[type="text"] {
        display: block;
        height: 3.5rem;
        width: 100%;
        padding: 0 1rem;
        border: 1px solid $grey;
        outline: none;
        display: block;
    }
    textarea {
        display: block;
        width: 100%;
        height: 14rem;
        margin: 1rem 0;
        outline: none;
        border: 1px solid $grey;
    }

    .submit-btn {
        margin-top: 1rem;
        width: 100%;
    }
}
.album {
    .delete-album {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        color: $red;
        font-size: 1.5rem;
        background: rgba(0,0,0,0.2);
    }

    .album-cover {
        height: 15rem;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .album-name a {
        display: block;
        margin: 1rem 0;
        padding-top: 1rem;
        border-top: 1px solid $light-grey;
        font-size: 1.8rem;
        color: $dark-grey;
    }
    .album-desc {
        font-size: 1.3rem;
        color: $grey;
        line-height: 1.5;
    }
    .album-private {
        position: absolute;
        top: 15rem;
        right: 1rem;
        font-size: 2rem;
        color: $dark-grey;
    }
}

.album-detail {
    position: relative;
    padding: 1rem;
    height: 100%;
    background: $white;
    box-shadow: $shadow-1;
    .side-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30rem;
        height: 100%;
        padding: 6rem 3rem 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: -2px 0 5px rgba(0,0,0,0.2);
        background: $white;
    }
    .album-cover {
        width: 23rem;
        height: 23rem;
        border-radius: 100%;
        margin: 0 auto 2rem;
        border: 1px solid $grey;
        background-position: center;
        background-size: cover;
    }

    .header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        box-shadow: $shadow-1;
        background: $white;
        z-index: $album-header-index;
        button {
            padding: 0.7rem 1rem;
        }

    }

    .header-menu {
        li {
            display: inline-block;
        }
    }

    .album-name {
        font-size: 1.8rem;
        line-height: 1.5;
        color: $content-color;
    }

    .section {
        margin-bottom: 1.5rem;
    }

    .section-name {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .album-desc {
        font-size: 1.4rem;
        line-height: 1.4;
        color: $grey;
    }

    .album-action {
        button {
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;
        }
    }
    .image-list {
        padding: 5rem 0 0 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        margin-right: 30rem;
    }
    .image {
        position: relative;
        display: inline-block;
        padding: 1rem;
        margin: 0 1rem 1rem 0;
        border: 1px solid $grey;
        a {
            display: inline-block;
            width: 20rem;
            height: 20rem;
            background-size: cover;
            background-position: center;
        }
        &:hover {
            .set-cover-btn {
                display: block;
            }
        }
    }
    .image.selected {
        background: $blue;
    }

    .set-cover-btn {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $white;
        background: rgba(0,0,0,0.2);
    }
}
.album-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .prgs-outer {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    .prgs-inner {
        height: 100%;
        display: block;
        position: absolute;
        background: rgba($blue, 0.5);
    }
}
.selected-item {
    button {
        padding: 1rem 2rem;
        margin: 0 1rem 1rem 0;
    }
    .main-menu {
        padding: 2rem 0;
    }
    ul {
        width: 100%;
        overflow: auto;
        li {
            position: relative;
            padding: 1rem;
            z-index: 1;
            &:nth-child(even) {
                background: $light-grey;
            }
        }
    }
    .img-name, .img-size, .img-progress, .img-action {
        display: inline-block;
    }
    .img-name {
        width: 30rem;
    }
    .img-size {
        width: 10rem;
    }
    .img-progress {
        width: 10rem;
    }
    .img-action {
        width: 10rem;
    }
}

.album-desc-input {
    border: 1px solid $light-grey;
    height: 15rem;
    padding: 1rem;
}