@media screen and (max-width: 720px) {
    .main {
        padding: 5rem 0 0;
    }

    .side-menu {
        transform: translateX(-100%);
        transition: all 0.2s;

        .menu-text {
            display: inline-block;
        }

        i {
            margin-right: 2rem;
        }
    }

    .side-menu.show {
        transform: translateX(0%);
    }
    .post-category {
        display: block;
        margin: 1rem 0;
    }
    .fullscreen {
        .editor {
            width: 100%;
        }
        .preview {
            display: none;
        }
        .preview-btn {
            display: inline-block;
        }
        .mobile-preview {
            display: block;
            left: 0;
        }
        .active {
            color: $white;
            background: map-get($color-red, '500');
        }
    }

    .category-content {
        transform: translateX(100%);
        width: 100%;
    }

    .category-content.show {
        transform: translateX(0);
    }

    .posts-list {
        margin-right: 0;

        li {
            padding: 1.5rem;
        }
    }

    .user-avatar, .post-update {
        display: none;
    }
    .selected-item {
        button {
            width: 100%;
            margin: 0 0 1rem 0;
        }
        .item-info-text, .item-preview {
            display: block;
            width: 100%;
        }
    }

    .album-list {
        li {
            width: 100%;
            height: 100%;
            margin: 0 0 2rem 0;
        }
    }

    .album-detail {
        .header-menu {
            margin-top: 1rem;
            border-top: 1px solid $light-grey;
            li {
                display: block;
                button {
                    width: 100%;
                }
            }
        }

        .image-list {
            margin: 0;
        }

        .image {
            width: 100%;
            text-align: center;
            margin: 0 0 1rem 0;
        }

        .side-content {
            transform: translateX(100%);
            transition: all 0.2s;
            width: 100%;
        }
        .side-content.show {
            transform: translateX(0);
        }
        .set-cover-btn {
            display: block;
        }
    }
    .dialog {
        .dialog-container {
            width: 100%;
            height: 100%;
        }
    }
    .file-section {
        .path-bar {
            padding-left: 4rem;
        }
        .file-list {
            padding-top: 6rem;
            .wrapper {
                padding: 0rem;
            }
        }
        .list-header, .item-date {
            display: none;
        }
        .item-name {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            width: 100%;
        }
        .item-modified {
            width: 50%;
            color: lighten($content-color, 10%);
        }
        .item-size {
            width: 25%;
            color: lighten($content-color, 10%);
        }
        .item-action {
            overflow: initial;
            position: absolute;
            right: 0;
            width: 5rem;
            button {
                padding: 0.5rem 1rem;
            }
        }
        .file {
            padding: 1rem 0;
            position: relative;
        }
        .action, .action-menu {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 1rem;
            padding: 1rem 0;
            border-radius: 0.5rem;
            border: 1px solid $content-color;
            box-shadow: $shadow-1;
            background: $menu-background;
            z-index: 1;
            &:before {
                position: absolute;
                top: -2rem;
                left: 2rem;
                display: block;
                content: '';
                width: 0;
                height: 0;
                border-bottom: 1rem solid $menu-background;
                border-left: 1rem solid rgba($white, 0);
                border-top: 1rem solid rgba($white, 0);
                border-right: 1rem solid rgba($white, 0);
            }
            li, button {
                display: block;
            }
            button {
                padding: 1rem 2rem;
                border: none;
                color: $content-color;
            }
        }
        .action-menu {
            right: 0;
            left: initial;
            &:before {
                left: initial;
                right: 2rem;
            }
        }
    }
}