
/* Ripple Click Effect CSS */
.ripple {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    .ink {
        position: absolute;
        display: inline-block;
        border-radius: 100%;
        transform: scale(0);
        // opacity: 0;
        background: $ripple-default;
        z-index: 1;
    }
    .animate {
        animation: ripple 0.5s linear;
    }
}
.ripple.ripple-blue .ink {
    background: $ripple-blue;
}

.ripple.ripple-yellow .ink {
    background: $ripple-yellow;
}

.ripple.ripple-pink .ink {
    background: $ripple-pink;
}

.ripple.ripple-red .ink {
    background: $ripple-red;
}

.ripple.ripple-white .ink {
    background: $ripple-white;
}

.ripple.ripple-black .ink {
    background: $ripple-black;
}

@keyframes ripple {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(5);
    }
}

/* Button set */
.btn {
    display: inline-block;
    padding: 0.7rem 4rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1.4rem;
    color: $button-default-color;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-out;
    background: $button-default-background;

    &:hover {
        background: $button-background;
    }
}

.btn.btn-primary {
    color: $button-primary-color;
}

.btn.btn-danger {
    color: $button-danger-color;
}

.btn.btn-warning {
    color: $button-warning-color;
}

.btn.btn-disabled {
    cursor: not-allowed;
    color: $button-disabled-color !important;
    background: $button-background !important;
}

.btn.btn-raised {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: $button-raised-background;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    &:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        transition-delay: 0s;
    }
}

.btn.btn-round {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 100%;
}

.btn.btn-blue {
    color: $white;
    background: $button-blue;
}

.btn.btn-red {
    color: $white;
    background: $button-red;
}

.btn.btn-green {
    color: $white;
    background: $button-green;
}

.btn.btn-yellow {
    color: $white;
    background: $button-yellow;
}

.btn.btn-grey {
    color: $button-default-color;
    background: $button-background;
}


/* Whiteframe set */
.whiteframe {
    display: block;
    width: 95%;
    padding: 0.8rem;
    margin: 0 2.5%;
    box-shadow: $shadow-1;
    background: $white;
}

/* Dialog set */
dialog-box {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    z-index: $dialog-index;
}
.dialog {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    background: rgba(map-get($color-grey, '1000'), 0.3);
    z-index: $dialog-index;
    animation: backdrop 0.3s;

    .dialog-wrapper {
        display: table-cell;
        vertical-align: middle;
        animation: show 0.2s;
    }
    .dialog-container {
        position: relative;
        margin: auto;
        max-width: 100rem;
        min-width: 30rem;
        width: 90%;
        min-height: 20rem;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        box-shadow: $shadow-5;
        background: $white;
    }

    .dialog-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 1rem 2.4rem;
        font-size: 1.6rem;
        color: $white;
        z-index: $dialog-header-index;
        background: map-get($color-light-blue, 'A100');
    }

    .dialog-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.3rem 2.4rem;
        border-top: 1px solid map-get($color-grey, '300');
        text-align: right;
        background: $white;
        .btn {
            padding: 0.8rem 0.5rem;
            margin-left: 2rem;
        }
    }

    .dialog-body {
        padding: 4.6rem 2.4rem 6rem;
        font-size: $normal-font-size;
        color: $content-color;
        overflow: auto;
    }
}

.dialog.dialog-hide {
    transform: translate3d(0, 100%, 0) scale(0.5);
    opacity: 0;
}

.dialog-container.dialog-active {
    transform: translate3d(0,0,0) scale(1.0);
    opacity: 1;
}


/* Input set */
.input {
    position: relative;
    margin: 2rem 0 4rem;

    label {
        position: absolute;
        top: 25%;
        left: 0;
        transition: all 0.2s ease-out;
        font-size: 1.4rem;
        color: map-get($color-grey, '500');
    }

    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid map-get($color-grey, '400');
        outline: none;
        color: map-get($color-grey, '600');
        line-height: 2.2rem;
        width: $input-width;
        font-size: 1.6rem;
        background: none;
    }
    .input-bar {
        position: relative;
        display: block;
        width: $input-width;
        &:after, &:before {
            content: '';
            height: 2px;
            top: -2px;
            width: 0;
            position: absolute;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
        &:after {
            right: 50%;
        }

        &:before {
            left: 50%;
        }
    }

    .input-description {
        display: none;
        position: absolute;
        top: 100%;
        padding: 0.5rem 0;
        color: map-get($color-grey, '400');
        font-size: 1.3rem;
    }
}

.input.hasValue, .input.isFocus {
    label {
        transform: translate3d(0, -1.5rem, 0);
        font-size: 1.2rem;
    }
}

.input.isFocus {
    label {
        color: $input-focus-color;
    }

    input {
        border-bottom: 1px solid rgba(0,0,0,0);
    }
    .input-description {
        display: inline-block;
    }
    .input-bar {
        &:before, &:after {
            width: $input-width / 2;
            background: $input-focus-color;
        }
    }

}

.input.inputDisabled {
    input {
        color: map-get($color-grey, '400');
        cursor: normal;
        border-bottom: 1px dotted map-get($color-grey, '300');
    }
}

.input.inputError {
    input {
        border-bottom: 1px solid $input-error-color;
    }

    label {
        color: $input-error-color;
    }

    .input-description {
        display: none;
    }

    .input-errmsg {
        display: inline-block;
        position: absolute;
        top: 100%;
        padding: 0.5rem 0;
        font-size: 1.3rem;
        color: $input-error-color;
    }
}


/* Progress set */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 80rem;
    padding: 1.5rem;
    margin: auto;
    font-size: 1.4rem;
    border: 1px solid map-get($color-orange, '100');
    background: map-get($color-orange, '50');
    box-shadow: $shadow-2;
    z-index: $progress-index;
    animation: backdrop 0.2s;

    .progress-btn {
        position: absolute;
        right: 3rem;
        top: 0;
        display: inline-block;
        padding: 1.5rem;
        color: map-get($color-red, '400');
    }

    .progress-container {
        color: $content-color;
    }
}


/* MsgBox set */
.msg-box {
    display: table;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: $msg-index;
    animation: show 0.3s;

    .msg-box-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .msg-box-container {
        max-width: 30rem;
        padding: 2rem;
        margin: auto;
        text-align: center;
        border: 1px solid map-get($color-grey, '300');
        background: $white;
        box-shadow: $shadow-3;
    }

    .msg-box-content {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        color: $content-color;
    }
}

.msg-box.error {
    .msg-box-content {
        color: $red;
    }
}



.light-selector {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 150px;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #EEEEEE;
    color: #555555;
    background: #FFFFFF;
    box-sizing: border-box;

    &:hover {
        color: #222222;
        background: #EEEEEE;
    }

    select {
        display: none;
    }
    .ls-current {
        display: block;
        position: relative;
        padding: 0 20px;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;
        user-select: none;

        &:after {
            position: absolute;
            top: 48%;
            right: 10px;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 5px solid #333333;
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
    .ls-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
        box-sizing: border-box;
    }
    .ls-list {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        background: #fff;

        li {
            padding: 15px 20px;
            line-height: 1.4;
            cursor: pointer;
            word-break: break-all;
            border-bottom: 1px solid #EEEEEE;
        }

        .selected {
            background: #239FCC;
            color: #fff;
        }
    }

}

@keyframes show {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}