.input(ng-class='{isFocus:isFocus, hasValue: hasValue(), inputError: isError(), noDesc: !hasDesc}')
    label(for='{{name}}') {{title}}
    input(type='{{type}}',
        name='{{name}}',
        ng-blur='isFocus=false',
        ng-focus='isFocus=true',
        id='{{name}}')/
    span.input-bar
    span.input-description {{desc}}
    div(ng-transclude)
