@mixin buttonWithHover($color, $amount) {
    background: $color;
    transition: background 0.3s;
    &:hover {
      background: lighten($color, $amount);

    }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ced6dc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ced6dc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ced6dc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ced6dc;
}

// Admin panel global style

.db-admin {
  ::selection {
    background: rgba(219,48,60,0.5);
    color: #FFFFFF; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(219,48,60,0.5);
    color: #FFFFFF; /* Gecko Browsers */
  }
  padding-left: 7rem;
  width: 100%;
  height: 100%;
  background: #f0f3f6;

  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #ced6dc;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #ced6dc;
      opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #ced6dc;
      opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #ced6dc;
  }
}


// Admin panel navbar style

.db-nav-right {
  float: right;
  width: 25%;
  text-align: right;
}

.db-nav-left {
  float: left;
  width: 25%;
  text-align: left;
}

.db-dashboard-title {
  float: left;
  width: 50%;
  padding: 1.8rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}

.db-nav-left, .db-nav-right {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    width: 5.1rem;
    text-align: center;
    padding: 1.8rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.db-nav-left .navbar-btn {
  display: none; 
}

.db-nav-right .db-user-avatar {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0.9rem;
  right: 5rem;
  border-radius: 100%;
  background-size: cover;
}

.db-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #121920;
}

.db-nav-wrapper {
  height: 100%;
  position: relative;
}

.db-brand-wrapper {

  a {
    display: inline-block;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    width: 7rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.8rem;
    background: #2bbfbd;
  }
}

.db-menu-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-top: 3rem;
    text-align: center;

    a {
      display: block;
      color: #3F4852;
      font-size: 1.8rem;
      &:hover {
        color: #586573;
      }
    }
  }
}

.db-setting-btn {
  position: absolute;
  bottom: 3rem;
  width: 7rem;
}

.db-header-container {
  position: relative;
}

.db-header-nav {
  position: absolute;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  z-index: 90;
}

.db-header-nav .nav li a {
  color: #53646d;
  font-size: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  &:hover {
    color: #728A96;
  }
}


// Admin gallery section

.db-gallery {
  padding: 6.4rem 1rem 2rem 1rem;
  height: 100%;
  overflow: auto;

  .album-name {
    padding: 0.8rem 1.5rem;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    font-size: 1.5rem;
  }

  .album-private {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .album-desc {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    height: 13rem;
    border-radius: 0;
    border: 1px solid #E0E0E0;
  }

  .album-btn {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #A5CBD9;
    background: #3BAFDA;
  }

  .db-gallery-list {
    display: inline-block;

    ul {
      padding: 0;
      list-style: none;
    }

    ul:after {
      content: '';
      display: block;
      clear: both;
    }

    li {
      position: relative;
      display: inline-block;
      float: left;
      width: 22rem;
      height: 27rem;
      padding: 1rem;
      margin: 1.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      background: #FFFFFF;

      .delete-album {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.8rem 1rem;
        background: #EEEEEE;

        .fa {
          margin-right: 0;
        }

        &:hover {
          .fa {
            color: #FFFFFF;
          }
          background: #D9095C;
        }
      }

      a {
        display: block;
      }

      i {
        margin-right: 1rem;
        font-size: 1.3rem;
        color: #9C9C9C;
      }

      .db-album-cover {
        display: block;
        width: 20rem;
        height: 15rem;
        background-color: #EEEEEE;
        background-size: cover;
        background-position: center;
      }

      .db-album-name {
        display: block;
        height: 3rem;
        margin: 0.8rem 0 1rem;
        padding: 0.5rem 0;
        border-top: 1px solid #EEEEEE;
        color: #555555;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 3rem;
        overflow: hidden;
      }

      .db-album-desc {
        display: block;
        text-transform: capitalize;
        max-height: 4rem;
        overflow: hidden;
        font-size: 1.4rem;
        color: #777777;
        word-break: break-all;
      }
      
    }
  }

}

.db-album-detail {
  padding: 6.4rem 1rem 1rem 1rem;
  height: 100%;
  overflow: auto;

  .right-container, .left-container {
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
  }

  .right-container {
    width: 60%;

    label {
      display: block;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }

    .new-album-name {
      margin-top: 1rem;
      height: 3rem;
      font-size: 1.6rem;
    }

    .new-album-desc {
      margin-top: 1rem;
    }
  }

  .left-container {
    width: 40%;
    border-right: 1px solid #EEEEEE;

    .album-cover {
      width: 100%;
    }
    .cover-container {
      position: relative;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      .new-cover-title {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
        color: #FFFFFF;
        background: rgba(0,0,0,0.3);
      }
      .new-cover-text {
        display: none;
      }
    }

    .upload-status {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 6rem;
      color: #FFFFFF;
      z-index: 1;
      background: rgba(0,0,0,0.5);
      .cover-progress-outer {
        display: block;
        position: relative;
        margin: 2rem auto;
        width: 18rem;
        height: 1rem;
        background: #EEEEEE;
      }

      .cover-progress-inner {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #32AAE6;
      }
    }
  }

  .db-album-wrapper {
    position: relative;
    height: 100%;
    padding-right: 28rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background: #FFFFFF;
  }

  .images {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .no-image {
    margin-top: 5rem;
    text-align: center;
    color: #CCCCCC;
  }

  .db-album-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28rem;
    padding: 2rem;
    background: #FFFFFF;
    padding-bottom: 1rem;
    overflow-y:auto; 
    box-shadow: -3px 3px 5px rgba(0,0,0,0.1);    
  }

  .db-album-cover {
    .cover {
      width: 18rem;
      height: 18rem;
      margin: 0 auto;
      border-radius: 100%;
      box-shadow: 0 0 3px rgba(0,0,0,0.1);
      background-size: cover;
      background-position: center;
      background-color: #EEEEEE;
    }
  }

  .db-album-name {
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #212E3B;
    font-size: 2.8rem;
    border-bottom: 1px solid #ECECEC;
    word-break: break-all;
  }

  .db-album-desc {
    padding: 2rem 0;
    font-size: 1.6rem;
    word-break: break-all;
    font-style: italic;
  }

  .db-img-container {
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    width: 22rem;
    height: 18rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid #E8E8E8;
    transition: background 0.3s;
    vertical-align: bottom;
    text-align: center;
    background: #FAFAFA;
  }

  .db-img-container.selected {
    background: #90D5F6;
  }

  .img-delete-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    border-bottom: 1px solid #EEEEEE;
    background: rgba(255,255,255,0.95);

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      padding: 0.5rem;
      margin-right: 1rem;
      font-size: 1.5rem;
    }

    i {
      margin-right: 0.5rem;
    }
  }

  .images-container {
    padding: 2rem;
    height: 100%;
    overflow: auto;
  }

  .db-img {
    display: inline-block;
    max-width: 20rem;
    max-height: 16rem;
    background-size: cover;
    background-position: center;
  }

  .db-album-menu {
    a {
      display: block;
      padding: 1rem;
      margin-top: 1rem;
      font-size: 1.5rem;
      color: #2B5682;
      text-align: center;
      border: 1px solid;
      border-radius: 0.3rem; 
      background: #FFFFFF;

      &:hover {
        color: #3BAFDA;
      }
    }

    i {
      margin-right: 0.5rem;
    }
  }

  .upload-icon, .edit-icon {
    margin-right: 0.5rem;
  }

  .db-choose-img {
    text-align: center;

    form {
      display: none;
    }
  }

  .img-list {
    display: none;
    table {
      width: 100%;
    }

    th {
      font-size: 1.6rem;
      padding: 1rem;
      text-align: left;
      font-weight: bold;
      background: #EEEEEE;
    }

    td {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }

    .file-progress {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 0.8rem;
      background: #EFEFEF;
    }

    .file-progress-inner {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #32AAE6;
    }
  }

  .remove-file {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0.5rem;
  }

  .start-upload {
    display: none;
  }
}


// Admin panel post section


.db-post-content {
  height: 100%;
}

.db-post-main {
  padding: 6.4rem 26rem 0 1rem;
  height: 100%;
}

.header-btn {
  display: none;
}

.db-post-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF;
}

.no-post {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.4rem;
  color: #AAAAAA;
} 

.post-single {
  display: block;
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #EEEEEE;
}

.draft {
  box-shadow: 5px 0 0 #AAAAAA inset;
  background: #FAFAFA;
}

.post-title {
  margin: 0;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: lighter;
  color: #919191;
  &:hover {
    color: #454545;
  }
}

.post-main {
  position: relative;
}

.delete-post, .delete-draft {
  position: absolute;
  top: -0.5rem;
  right: 0;
  color: #CCCCCC;
  font-size: 2.5rem;
  &:hover {
    color: #F2716D;
  }
}
.post-meta {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: #BBBBBB;
  span {
    margin-right: 0.5rem;
  }
}

.db-sidebar {
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0;
  width: 25rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #FFFFFF;
}

.db-sidebar-title {
  padding: 1.5rem 4rem;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #9E9E9E;
}

.db-sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem 0;
  ul {
    position: absolute;
    top: 7rem;
    bottom: 4rem;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.db-cate-list {
  position: relative;
  padding: 0 4rem;
  font-size: 1.4rem;
  &:hover .db-cate-ctrl {
    display: block;
  }

  .db-cate-ctrl {
    display: none;
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 99;
    a {
      display: inline-block;
      padding: 1rem;
    }
  }
  a {
    display: block;
    color: #9E9E9E;
    padding: 1rem 0;
    &:hover {
      color: #8A8A8A;
    }
  }
}

.db-cate-list.active {
  background: #EEEEEE;
}

input.new-cate-name {
  margin: 2rem 0;
  height: 5rem;
  font-size: 1.8rem;
}

.db-add-cate {
  position: fixed;
  bottom: 0;
  width: 25rem;
  right: 0;
  .db-cate-wrapper {
    position: relative;
    box-shadow: 2px -1px 5px rgba(0,0,0,0.1);
  }

  .db-cate-input {
    border-radius: 0;
    height: 4rem;
    border: none;
  }

  .db-cate-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    line-height: 1.9rem;
  }
}


.db-editor-wrapper {
  position: absolute;
  top: 5.2rem;
  bottom: 1rem;
  left: 7rem;
  right: 0;
  padding: 1rem 1rem 0 1rem;
  .fs-preview {
    display: none;
    img {
      width: 100%;
    }

    h1, h2, h3,
    h4, h5, h6 {
        text-rendering: optimizeLegibility;
        line-height: 1;
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
    }

    h1 {
        font-size: 5rem;
        line-height: 1.2em;
        letter-spacing: -2px;
        text-indent: -3px;
    }

    h2 {
        font-size: 4rem;
        line-height: 1.2em;
        letter-spacing: -1px;
        text-indent: -2px;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 2.5rem;
    }

    h6 {
        font-size: 2rem;
    }

    a {
        color: #4a4a4a;
        transition: color ease 0.3s;
    }

    a:hover {
        color: #57A3E8;
    }

    h1 a, h2 a, h3 a,
    h4 a, h5 a, h6 a {
        color: #50585D;
    }


    p, ul, ol, dl {
        margin: 1.6em 0;
    }

    ol ol, ul ul,
    ul ol, ol ul {
        margin: 0.4em 0;
    }

    dl dt {
        float: left;
        width: 180px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 1em
    }

    dl dd {
        margin-left: 200px;
        margin-bottom: 1em
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #efefef;
        margin: 3.2em 0;
        padding: 0;
    }

    blockquote {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1.6em 0 1.6em -2.2em;
        padding: 0 0 0 1.6em;
        border-left: #4a4a4a 0.4em solid;
    }

    blockquote p {
        margin: 0.8em 0;
        font-style: italic;
    }

    blockquote small {
        display: inline-block;
        margin: 0.8em 0 0.8em 1.5em;
        font-size:0.9em;
        color: #ccc;
    }

    blockquote small:before { content: '\2014 \00A0'; }

    blockquote cite {
        font-weight:bold;
    }

    blockquote cite a { font-weight: normal; }

    mark {
        background-color: #ffc336;
    }

    code, tt {
        padding: 1px 3px;
        font-family: Inconsolata, monospace, sans-serif;
        font-size: 0.85em;
        white-space: pre-wrap;
        border: 1px solid #E3EDF3;
        background: #F7FAFB;
        border-radius: 2px;
    }

    pre {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1.6em 0;
        border: 1px solid #E3EDF3;
        width: 100%;
        padding: 10px;
        font-family: Inconsolata, monospace, sans-serif;
        font-size: 0.9em;
        white-space: pre;
        overflow: auto;
        background: #F7FAFB;
        border-radius: 3px;
    }

    pre code, tt {
        font-size: inherit;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
    }

    kbd {
        display: inline-block;
        margin-bottom: 0.4em;
        padding: 1px 8px;
        border: #ccc 1px solid;
        color: #666;
        text-shadow: #fff 0 1px 0;
        font-size: 0.9em;
        font-weight: bold;
        background: #f4f4f4;
        border-radius: 4px;
        box-shadow: 
            0 1px 0 rgba(0, 0, 0, 0.2), 
            0 1px 0 0 #fff inset;
    }

    table {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1.6em 0;
        width:100%;
        max-width: 100%;
        background-color: transparent;
    }

    table th,
    table td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #efefef;
    }

    table th { color: #000; }

    table caption + thead tr:first-child th,
    table caption + thead tr:first-child td,
    table colgroup + thead tr:first-child th,
    table colgroup + thead tr:first-child td,
    table thead:first-child tr:first-child th,
    table thead:first-child tr:first-child td {
        border-top: 0;
    }

    table tbody + tbody { border-top: 2px solid #efefef; }

    table table table { background-color: #fff; }

    table tbody > tr:nth-child(odd) > td,
    table tbody > tr:nth-child(odd) > th {
        background-color: #f6f6f6;
    }

    table.plain tbody > tr:nth-child(odd) > td,
    table.plain tbody > tr:nth-child(odd) > th {
       background: transparent;
    }

    iframe, .fluid-width-video-wrapper {
        display: block;
        margin: 1.6em 0;
    }    
  }
  .editor-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    .CodeMirror {
      width: 50%;
      display: inline-block;
      background: #FBFCF7;
    }

    .fs-preview {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 50%;
      padding: 4.5rem 1.5rem 0;
      border-left: 1px solid #EEEEEE;
      vertical-align: top;
      background: #FBFCF7;
    }

    .fs-preview-title {
      position: absolute;
      top: 3rem;
      left: 0;
      right: 0;
      padding: 1rem 0;
      text-align: center;
      color: #AAAAAA;
      font-size: 1.2rem;
      background: rgba(255,255,255,0.8);
    }

    .fs-preview-container {
      padding-top: 2rem;
      height: 100%;
      overflow: auto;
    }
  }
}

.db-preview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1%;
  border-radius: 0.3rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  z-index: 999;
}

.db-preview-wrapper {
  height: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border: 1px solid #CCCCCC;
  overflow: auto;
  background: #FFFFFF;
}

.db-preview-close {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 2rem;
  color: #DB636B;
}

.db-preview-header {
  position: fixed;
  left: 1%;
  right: 1%;
  padding: 0.5rem;
  font-size: 2rem;
  background: #EEEEEE;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);

  p {
    text-align: center;
    margin:0;
    text-shadow: 0 1px 0 #FFFFFF;
  }
}

.db-preview-main {
  padding: 3rem 2rem 0 2rem;
  font-size: 1.4rem;


  // Markdown style
  h1, h2, h3,
  h4, h5, h6 {
      text-rendering: optimizeLegibility;
      line-height: 1;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }

  h1 {
      font-size: 5rem;
      line-height: 1.2em;
      letter-spacing: -2px;
      text-indent: -3px;
  }

  h2 {
      font-size: 4rem;
      line-height: 1.2em;
      letter-spacing: -1px;
      text-indent: -2px;
  }

  h3 {
      font-size: 3.5rem;
  }

  h4 {
      font-size: 3rem;
  }

  h5 {
      font-size: 2.5rem;
  }

  h6 {
      font-size: 2rem;
  }

  a {
      color: #4a4a4a;
      transition: color ease 0.3s;
  }

  a:hover {
      color: #57A3E8;
  }

  h1 a, h2 a, h3 a,
  h4 a, h5 a, h6 a {
      color: #50585D;
  }


  p, ul, ol, dl {
      margin: 1.6em 0;
  }

  ol ol, ul ul,
  ul ol, ol ul {
      margin: 0.4em 0;
  }

  dl dt {
      float: left;
      width: 180px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      margin-bottom: 1em
  }

  dl dd {
      margin-left: 200px;
      margin-bottom: 1em
  }

  hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #efefef;
      margin: 3.2em 0;
      padding: 0;
  }

  blockquote {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0 1.6em -2.2em;
      padding: 0 0 0 1.6em;
      border-left: #4a4a4a 0.4em solid;
  }

  blockquote p {
      margin: 0.8em 0;
      font-style: italic;
  }

  blockquote small {
      display: inline-block;
      margin: 0.8em 0 0.8em 1.5em;
      font-size:0.9em;
      color: #ccc;
  }

  blockquote small:before { content: '\2014 \00A0'; }

  blockquote cite {
      font-weight:bold;
  }

  blockquote cite a { font-weight: normal; }

  mark {
      background-color: #ffc336;
  }

  code, tt {
      padding: 1px 3px;
      font-family: Inconsolata, monospace, sans-serif;
      font-size: 0.85em;
      white-space: pre-wrap;
      border: 1px solid #E3EDF3;
      background: #F7FAFB;
      border-radius: 2px;
  }

  pre {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0;
      border: 1px solid #E3EDF3;
      width: 100%;
      padding: 10px;
      font-family: Inconsolata, monospace, sans-serif;
      font-size: 0.9em;
      white-space: pre;
      overflow: auto;
      background: #F7FAFB;
      border-radius: 3px;
  }

  pre code, tt {
      font-size: inherit;
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
      background: transparent;
      border: none;
      padding: 0;
  }

  kbd {
      display: inline-block;
      margin-bottom: 0.4em;
      padding: 1px 8px;
      border: #ccc 1px solid;
      color: #666;
      text-shadow: #fff 0 1px 0;
      font-size: 0.9em;
      font-weight: bold;
      background: #f4f4f4;
      border-radius: 4px;
      box-shadow: 
          0 1px 0 rgba(0, 0, 0, 0.2), 
          0 1px 0 0 #fff inset;
  }

  table {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0;
      width:100%;
      max-width: 100%;
      background-color: transparent;
  }

  table th,
  table td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #efefef;
  }

  table th { color: #000; }

  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
      border-top: 0;
  }

  table tbody + tbody { border-top: 2px solid #efefef; }

  table table table { background-color: #fff; }

  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
      background-color: #f6f6f6;
  }

  table.plain tbody > tr:nth-child(odd) > td,
  table.plain tbody > tr:nth-child(odd) > th {
     background: transparent;
  }

  iframe, .fluid-width-video-wrapper {
      display: block;
      margin: 1.6em 0;
  }
}

.db-editor-helper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background: rgba(250,250,250,0.8);

  .db-editor-info {
    display: inline-block;
    float: left;
  }

  .db-helper-btn {
    display: inline-block;
    float: right;
  }
  a {
    margin-left: 1rem;
    padding: 0 0.5rem;
    color: #6A7585;
    &:hover {
      color: #FFFFFF;
      background: #2BBFBD;
    }
  }
}

.fileinput {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.imgupload {
  position: relative;
  
  .upload-picker {
    display: block;
    text-align: center;
    border: 3px dashed #CCCCCC;
    padding: 1rem 0 5rem;
    span {
      display: block;
      width: 14rem;
      margin: 1rem auto;
      padding: 0.5rem 2rem;
      color: #FFFFFF;
      font-size: 2rem;
      border-radius: 0.5rem;
      background: #3BAFDA
    }

  }

}

.preview-container {
  display: none;
  position: relative;

  .remove-img {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    border: none;
    background: rgba(255,255,255,0.5);
  }
}

.upload-fail {
  display: none;
  padding: 3rem;
  text-align: center;
}

.upload-error-text {
  font-size: 2rem;
  color: #E3403D;
}

.upload-error-detail {
  color: #E3403D;
}

.img-preview {
  height: 100%;
  width: 100%;
}

.imgurl {
  margin-top: 1rem;

  input {
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    border: 1px solid #CCCCCC;
    border-radius: 0;
  }
}

.upload-progress {
  display: none;
  padding: 2rem;

  .upload-progress-outer {
    position: relative;
    margin: 5rem 0;
    width: 100%;
    height: 2rem;
    background: #DEDEDE;
  }

  .upload-progress-inner {
    position: absolute;
    height: 100%;
    background: #349CC2;
  }
}

.db-draft-info {
  margin-left: 1rem;
}

.db-tag-input {
  display: none;
}

.db-new-header {
  margin-bottom: 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  
  .light-selector {
    border-top: 1px solid #ced6dc;
    border-bottom: 1px solid #ced6dc;
    border-left: 0;
    border-right: 0;
    outline: none;
  }

  input {
    border-radius: 0;
    padding: 0 1rem;
    height: 60px;
    border: 1px solid #ced6dc;
    width: 100%;
    font-size: 3rem;
    color: #485159;
    font-weight: 700;
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }
}

.db-cate-selecter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  outline: none;
}

.selecter-selected, .selecter-item {
  padding: 9px !important;
  border-radius: 0 !important;
  border: 1px solid #ced6dc !important;
  font-size: 1.5rem;
  line-height: 30px;
  &:after {
    top: 22px !important;
  }
}

.db-title-wrapper {
  position: relative;
  padding: 0;
}

.db-tags {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 1.5rem;

  .db-tag {
    width: 30rem;
    height: 100%;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
}

.db-single-tag {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: #3BAFDA;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
    background: lighten(#3BAFDA, 5%);
  }

  i {
    margin-right: 0.5rem;
  }
}

.db-publish {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  line-height: 28px;
  padding: 10px 50px;
  i {
    margin-right: 1rem;
  }
}

.db-new-main {
  position: relative;
  height: 100%;
}

.db-new-editor {
  position: absolute;
  top: 70px;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.8rem;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  .CodeMirror {
    padding: 4.5rem 1.5rem 0;
    font-family: 'Open Sans', 'Microsoft Yahei';
    font-weight: 100;
    color: #384E63;
    line-height: 2.3rem;
  }
}


// admin panel file page

.db-file {
  padding: 6.4rem 1rem 0 1rem;
  height: 100%;

  .db-file-wrapper {
    height: 100%;
    padding-top: 8.4rem;
    box-shadow: 0 0 10px rgba(8,8,8,0.1);
    background: #FFFFFF;
  }

  .folder-list {
    border: 1px solid #CCCCCC;
    overflow: auto;
    a {
      color: #555555;
    }
    .opened > a {
      padding-right: 0.5rem;
      color: #FFFFFF;
      border-radius: 0.3rem;
      background: #7EBFFC;
    }

    i {
      margin: 0 0.5rem;
    }
    li {
      padding: 0.2rem 0.5rem;
      margin: 0.3rem 0;
    }
    ul {
      margin-left: 1rem;
    }
  }

  .selected-item {
    li {
      display: inline-block;
      margin: 0 1rem 1rem 0;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid #CCCCCC;
    }

    i {
      margin-right: 0.5rem;
      color: #777777;
    }

    a {
      color: #777777;
    }
  }

  .move-title {
    margin: 2rem 0 1rem;
    font-weight: 800;
    font-size: 1.7rem;
  }

  .target-dir {
    height: 3rem;
    border: 1px solid #CCCCCC;
  }

  .file-nav {
    position: fixed;
    top: 6.4rem;
    left: 8rem;
    right: 1rem;
    padding-top: 1rem;
    background: #F7F7F7;

    ol {
      padding: 0.5rem;
      margin: 0 1rem;
      list-style: none;
      box-shadow: 0 0 7px rgba(0,0,0,0.2) inset;
      border-radius: 0.3rem;
      background: #FFFFFF;
    }

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      padding: 0.1rem 0.5rem;
      margin: 0 0.5rem;
      color: #555555;
      font-size: 1.5rem;
      line-height: 2rem;

      &:hover {
        color: #FFFFFF;
        border-radius: 0.3rem;
        text-shadow: 0 1px 0 #CCCCCC;
        background: #AAAAAA;
      }
    }

    span {
      color: #555555;
    }
  }

  .file-tools {
    margin-top: 1rem;
    font-size: 1.3rem;
    background: #F7F7F7;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    li {
      display: inline-block;
      padding: 1rem;
      border: none;
      border-left: 1px solid #EEEEEE;
      text-shadow: 0 1px 0 #FFFFFF;
      background: none;

      &:hover {
        color: #FFFFFF;
        text-shadow: 0 1px 0 #000000;
        box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
        background: #555555;
      }
    }
    i {
      margin-right: 0.5rem;
    }
  }

  .file-list {
    height: 100%;
    overflow: auto;
    font-size: 1.4rem;
  }

  .file-list-wrapper {
    width: 100%;
    tbody {
      tr {

        width: 100%;
        &:nth-child(odd) {
          background: #F7F7F7;
        }
      }
    }

    .db-filename {
      margin-left: 0.8rem;
      text-shadow: 0 2px 2px #CECECE;
      color: #333333;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }
    }

    th {
      text-align: left;
      padding: 1rem;
    }

    td {
      padding: 0.5rem 1rem;
      min-width: 12rem;
      input[type='checkbox'] {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        vertical-align: middle;
      }
    }

    .db-action {
      button, a {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border: 1px solid #EEEEEE;
        outline: none;
        color: #FFFFFF;
        border-radius: 0.5rem;
        text-shadow: 0 1px 0 #2F8CAD;
        background: #3BAFDA;

        &:hover {
          background: lighten(#3BAFDA, 5%);
        }
      }
    }
  }

  .download-btn {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    color: #FFFFFF;
  }

  .file-preview {
    height: 100%;
    padding: 0 1rem;
  }

  #preview-file {
    height: 100%;
  }

  #delete-file {
    .selected-item {
      margin-top: 2rem;
    }
  }

  #rename-file {
    .modal-body {
      li {
        margin: 1rem;
        span {
          display: inline-block;
          padding: 1rem 0;
        }
        input {
          height: 4rem;
          font-size: 1.7rem;
        }
      }
    }
  }
}

// Admin setting

.setting-section {
  padding: 6.4rem 1rem 0;
  height: 100%;

  .setting-wrapper {
    position: relative;
    padding: 1rem;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: #FFFFFF;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 3rem;
    border-bottom: 1px solid #EEEEEE;
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    background: rgba(255,255,255,0.8);
    button {
      float: right;
      padding: 0.8rem 2.3rem;
      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      border-radius: 0.3rem;
    }
  }

  .content {
    padding: 8rem 0 5rem;
    height: 100%;
    overflow: auto;
  }

  .row {
    padding: 1rem;

    input[type='text'] {
      width: 75%;
      height: 4rem;
      vertical-align: middle;
      font-size: 1.5rem;
    }

    input[type='checkbox'] {
      vertical-align: middle;
    }

    textarea {
      display: inline-block;
      width: 75%;
      vertical-align: top;
    }

    label {
      display: inline-block;
      padding-right: 2rem;
      width: 25%;
      font-size: 1.5rem;
      text-align: right;
      vertical-align: middle;
      color: #7C838A;
    }

    .light-selector {
      vertical-align: middle;
      width: 15rem !important;
    }
  }
}

// Media Queries

@media screen and (max-width: 720px) {
  .db-gallery .db-gallery-list li {
    width: 100%;
    margin: 1rem 0;

    .db-album-cover {
      width: 100%;
    }
  }

  .db-album-detail{
    .db-album-wrapper {
      padding: 0;
    }

    .db-album-info {
      display: none;
      width: 90%;
      box-shadow: -5px 0 10px rgba(0,0,0,0.3);
      z-index: 1;
    }

    .db-img-container {
      margin: 1rem 0;
      width: 100%;
    }

    .db-img {
      max-width: 100%;
    }

    .left-container, .right-container {
      display: block;
      width: 100%;
    }
  }
  
  .db-file {
    .db-file-wrapper {
      padding-top: 0;
    }

    .file-nav {
      display: none;
      position: absolute;
      left: 1rem;
      z-index: 9;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
  }

}

@media screen and (max-width: 980px) {
  body {
    overflow: hidden;
  }

  .db-nav-left .navbar-btn {
    display: inline-block;
    transition: all 0.3s;
  }
  
  .navbar-btn.active {
    color: #FFFFFF;
    background: #121920;
  }

  .db-admin {
    padding-left: 0;
  }

  .db-nav {
    display: none;
    top: 5.3rem;
    left: 0;
    right: 0;
    z-index: 99;
    background: none;
  }

  .header-btn {
    display: block;
    position: fixed;
    top: 1.2rem;
    right: 45%;
    padding: 0.6rem 0;
    width: 3rem;
    color: #FFFFFF;
    border-radius: 100%;
    line-height: 1.8rem;
    font-size: 2rem;
    text-align: center;
    z-index: 100;
    background: #B2DEFF;
}

  .db-sidebar {
    top: 6.4rem;
    box-shadow: -0.4rem 0 1rem rgba(0,0,0,0.2);
    z-index: 99;
  }

  .db-nav-wrapper {
    height: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background: #121920;
  }

  .db-brand-wrapper {
    display: none;
    // a {
    //   padding: 1.8rem;
    //   width: auto;
    //   color: #3F4852;
    //   background: none;
    // }
  }

  .db-dashboard-title {
    display: none;
  }

  .db-nav-left, .db-nav-right {
    width: auto;
  }

  .db-menu-wrapper {
    li {
      display: inline-block;
      padding: 0;
      text-align: center;
      a {
        padding: 1.8rem;
        font-size: 2rem;
        line-height: 1.8rem;
      }
    }

    .db-setting-btn {
      position: static;
      bottom: 0;
      width: auto;
    }

  }

  .db-nav-menu {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .db-editor-wrapper {
    left: 0;
  }

  .db-editor-wrapper.show-navbar {
    left: 7rem;
  }

  .db-post-main {
    padding: 6.4rem 1rem 0 1rem;
  }

  .db-sidebar {
    display: none;
  }

  .db-draft-info {
    display: none;
  }

  .db-single-tag {
    display: none;
  }

  .db-tag {
    display: none;
  }

  .db-publish {
    width: 100%;
  }
}
