::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ced6dc; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ced6dc;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ced6dc;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ced6dc; }

.db-admin {
  padding-left: 7rem;
  width: 100%;
  height: 100%;
  background: #f0f3f6; }
  .db-admin ::selection {
    background: rgba(219, 48, 60, 0.5);
    color: #FFFFFF;
    /* WebKit/Blink Browsers */ }
  .db-admin ::-moz-selection {
    background: rgba(219, 48, 60, 0.5);
    color: #FFFFFF;
    /* Gecko Browsers */ }
  .db-admin ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ced6dc; }
  .db-admin :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ced6dc;
    opacity: 1; }
  .db-admin ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ced6dc;
    opacity: 1; }
  .db-admin :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ced6dc; }

.db-nav-right {
  float: right;
  width: 25%;
  text-align: right; }

.db-nav-left {
  float: left;
  width: 25%;
  text-align: left; }

.db-dashboard-title {
  float: left;
  width: 50%;
  padding: 1.8rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center; }

.db-nav-left, .db-nav-right {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .db-nav-left li, .db-nav-right li {
    display: inline-block; }
  .db-nav-left a, .db-nav-right a {
    display: inline-block;
    width: 5.1rem;
    text-align: center;
    padding: 1.8rem;
    font-size: 1.5rem;
    line-height: 1.8rem; }

.db-nav-left .navbar-btn {
  display: none; }

.db-nav-right .db-user-avatar {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0.9rem;
  right: 5rem;
  border-radius: 100%;
  background-size: cover; }

.db-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #121920; }

.db-nav-wrapper {
  height: 100%;
  position: relative; }

.db-brand-wrapper a {
  display: inline-block;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 7rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.8rem;
  background: #2bbfbd; }

.db-menu-wrapper {
  margin: 0;
  padding: 0;
  list-style: none; }
  .db-menu-wrapper li {
    padding-top: 3rem;
    text-align: center; }
    .db-menu-wrapper li a {
      display: block;
      color: #3F4852;
      font-size: 1.8rem; }
      .db-menu-wrapper li a:hover {
        color: #586573; }

.db-setting-btn {
  position: absolute;
  bottom: 3rem;
  width: 7rem; }

.db-header-container {
  position: relative; }

.db-header-nav {
  position: absolute;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 99; }

.db-header-nav .nav li a {
  color: #53646d;
  font-size: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem; }
  .db-header-nav .nav li a:hover {
    color: #728A96; }

.db-gallery {
  padding: 6.4rem 1rem 2rem 1rem;
  height: 100%;
  overflow: auto; }
  .db-gallery .album-name {
    padding: 0.8rem 1.5rem;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    font-size: 1.5rem; }
  .db-gallery .album-private {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; }
  .db-gallery .album-desc {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    height: 13rem;
    border-radius: 0;
    border: 1px solid #E0E0E0; }
  .db-gallery .album-btn {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #A5CBD9;
    background: #3BAFDA; }
  .db-gallery .db-gallery-list {
    display: inline-block; }
    .db-gallery .db-gallery-list ul {
      padding: 0;
      list-style: none; }
    .db-gallery .db-gallery-list ul:after {
      content: '';
      display: block;
      clear: both; }
    .db-gallery .db-gallery-list li {
      display: inline-block;
      float: left;
      width: 22rem;
      height: 27rem;
      padding: 1rem;
      margin: 1.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      background: #FFFFFF; }
      .db-gallery .db-gallery-list li a {
        display: block; }
      .db-gallery .db-gallery-list li i {
        margin-right: 1rem;
        font-size: 1.3rem;
        color: #9C9C9C; }
      .db-gallery .db-gallery-list li .db-album-cover {
        display: block;
        width: 20rem;
        height: 15rem;
        background-color: #EEEEEE;
        background-size: cover;
        background-position: center; }
      .db-gallery .db-gallery-list li .db-album-name {
        display: block;
        height: 3rem;
        margin: 0.8rem 0 1rem;
        padding: 0.5rem 0;
        border-top: 1px solid #EEEEEE;
        color: #555555;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 3rem;
        overflow: hidden; }
      .db-gallery .db-gallery-list li .db-album-desc {
        display: block;
        text-transform: capitalize;
        max-height: 4rem;
        overflow: hidden; }

.db-album-detail {
  padding: 6.4rem 1rem 1rem 1rem;
  height: 100%;
  overflow: auto; }
  .db-album-detail .db-album-wrapper {
    position: relative;
    height: 100%;
    padding-right: 28rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #FFFFFF; }
  .db-album-detail .images {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 2rem;
    overflow-y: auto; }
  .db-album-detail .no-image {
    margin-top: 5rem;
    text-align: center;
    color: #CCCCCC; }
  .db-album-detail .db-album-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28rem;
    padding: 2rem;
    background: #FFFFFF;
    padding-bottom: 1rem;
    overflow-y: auto;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1); }
  .db-album-detail .db-album-cover .cover {
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-color: #EEEEEE; }
  .db-album-detail .db-album-name {
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #212E3B;
    font-size: 2.8rem;
    border-bottom: 1px solid #ECECEC; }
  .db-album-detail .db-img-container {
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #E8E8E8;
    background: #FAFAFA; }
  .db-album-detail .db-img {
    display: inline-block;
    width: 20rem;
    height: 16rem;
    background-size: cover;
    background-position: center; }
  .db-album-detail .upload-btn, .db-album-detail .edit-btn {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #2B5682;
    text-align: center;
    border: 1px solid;
    border-radius: 0.3rem;
    background: #FFFFFF; }
    .db-album-detail .upload-btn:hover, .db-album-detail .edit-btn:hover {
      color: #3BAFDA; }
  .db-album-detail .upload-icon, .db-album-detail .edit-icon {
    margin-right: 0.5rem; }
  .db-album-detail .db-choose-img {
    text-align: center; }
    .db-album-detail .db-choose-img form {
      display: none; }
  .db-album-detail .img-list {
    display: none; }
    .db-album-detail .img-list table {
      width: 100%; }
    .db-album-detail .img-list th {
      font-size: 1.6rem;
      padding: 1rem;
      text-align: left;
      font-weight: bold;
      background: #EEEEEE; }
    .db-album-detail .img-list td {
      font-size: 1.5rem;
      padding: 0.5rem 1rem; }
    .db-album-detail .img-list .file-progress {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 0.8rem;
      background: #EFEFEF; }
    .db-album-detail .img-list .file-progress-inner {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #CCCCCC; }
  .db-album-detail .start-upload, .db-album-detail .remove-file {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0.5rem; }

.db-post-content {
  height: 100%; }

.db-post-main {
  padding: 6.4rem 26rem 0 1rem;
  height: 100%; }

.header-btn {
  display: none; }

.db-post-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF; }

.no-post {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.4rem;
  color: #AAAAAA; }

.post-single {
  display: block;
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #EEEEEE; }

.draft {
  box-shadow: 5px 0 0 #AAAAAA inset;
  background: #FAFAFA; }

.post-title {
  margin: 0;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: lighter;
  color: #919191; }
  .post-title:hover {
    color: #454545; }

.post-main {
  position: relative; }

.delete-post, .delete-draft {
  position: absolute;
  top: -0.5rem;
  right: 0;
  color: #CCCCCC;
  font-size: 2.5rem; }
  .delete-post:hover, .delete-draft:hover {
    color: #F2716D; }

.post-meta {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: #BBBBBB; }
  .post-meta span {
    margin-right: 0.5rem; }

.db-sidebar {
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0;
  width: 25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #FFFFFF; }

.db-sidebar-title {
  padding: 1.5rem 4rem;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #9E9E9E; }

.db-sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem 0; }
  .db-sidebar-container ul {
    position: absolute;
    top: 7rem;
    bottom: 4rem;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto; }

.db-cate-list {
  position: relative;
  padding: 0 4rem;
  font-size: 1.4rem; }
  .db-cate-list:hover .db-cate-ctrl {
    display: block; }
  .db-cate-list .db-cate-ctrl {
    display: none;
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 99; }
    .db-cate-list .db-cate-ctrl a {
      display: inline-block;
      padding: 1rem; }
  .db-cate-list a {
    display: block;
    color: #9E9E9E;
    padding: 1rem 0; }
    .db-cate-list a:hover {
      color: #8A8A8A; }

.db-cate-list.active {
  background: #EEEEEE; }

input.new-cate-name {
  margin: 2rem 0;
  height: 5rem;
  font-size: 1.8rem; }

.db-add-cate {
  position: fixed;
  bottom: 0;
  width: 25rem;
  right: 0; }
  .db-add-cate .db-cate-wrapper {
    position: relative;
    box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.1); }
  .db-add-cate .db-cate-input {
    border-radius: 0;
    height: 4rem;
    border: none; }
  .db-add-cate .db-cate-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    line-height: 1.9rem; }

.db-editor-wrapper {
  position: absolute;
  top: 5.2rem;
  bottom: 1rem;
  left: 7rem;
  right: 0;
  padding: 1rem 1rem 0 1rem; }
  .db-editor-wrapper .fs-preview {
    display: none; }
    .db-editor-wrapper .fs-preview img {
      width: 100%; }
    .db-editor-wrapper .fs-preview h1, .db-editor-wrapper .fs-preview h2, .db-editor-wrapper .fs-preview h3,
    .db-editor-wrapper .fs-preview h4, .db-editor-wrapper .fs-preview h5, .db-editor-wrapper .fs-preview h6 {
      text-rendering: optimizeLegibility;
      line-height: 1;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif; }
    .db-editor-wrapper .fs-preview h1 {
      font-size: 5rem;
      line-height: 1.2em;
      letter-spacing: -2px;
      text-indent: -3px; }
    .db-editor-wrapper .fs-preview h2 {
      font-size: 4rem;
      line-height: 1.2em;
      letter-spacing: -1px;
      text-indent: -2px; }
    .db-editor-wrapper .fs-preview h3 {
      font-size: 3.5rem; }
    .db-editor-wrapper .fs-preview h4 {
      font-size: 3rem; }
    .db-editor-wrapper .fs-preview h5 {
      font-size: 2.5rem; }
    .db-editor-wrapper .fs-preview h6 {
      font-size: 2rem; }
    .db-editor-wrapper .fs-preview a {
      color: #4a4a4a;
      transition: color ease 0.3s; }
    .db-editor-wrapper .fs-preview a:hover {
      color: #57A3E8; }
    .db-editor-wrapper .fs-preview h1 a, .db-editor-wrapper .fs-preview h2 a, .db-editor-wrapper .fs-preview h3 a,
    .db-editor-wrapper .fs-preview h4 a, .db-editor-wrapper .fs-preview h5 a, .db-editor-wrapper .fs-preview h6 a {
      color: #50585D; }
    .db-editor-wrapper .fs-preview p, .db-editor-wrapper .fs-preview ul, .db-editor-wrapper .fs-preview ol, .db-editor-wrapper .fs-preview dl {
      margin: 1.6em 0; }
    .db-editor-wrapper .fs-preview ol ol, .db-editor-wrapper .fs-preview ul ul,
    .db-editor-wrapper .fs-preview ul ol, .db-editor-wrapper .fs-preview ol ul {
      margin: 0.4em 0; }
    .db-editor-wrapper .fs-preview dl dt {
      float: left;
      width: 180px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      margin-bottom: 1em; }
    .db-editor-wrapper .fs-preview dl dd {
      margin-left: 200px;
      margin-bottom: 1em; }
    .db-editor-wrapper .fs-preview hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #efefef;
      margin: 3.2em 0;
      padding: 0; }
    .db-editor-wrapper .fs-preview blockquote {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0 1.6em -2.2em;
      padding: 0 0 0 1.6em;
      border-left: #4a4a4a 0.4em solid; }
    .db-editor-wrapper .fs-preview blockquote p {
      margin: 0.8em 0;
      font-style: italic; }
    .db-editor-wrapper .fs-preview blockquote small {
      display: inline-block;
      margin: 0.8em 0 0.8em 1.5em;
      font-size: 0.9em;
      color: #ccc; }
    .db-editor-wrapper .fs-preview blockquote small:before {
      content: '\2014 \00A0'; }
    .db-editor-wrapper .fs-preview blockquote cite {
      font-weight: bold; }
    .db-editor-wrapper .fs-preview blockquote cite a {
      font-weight: normal; }
    .db-editor-wrapper .fs-preview mark {
      background-color: #ffc336; }
    .db-editor-wrapper .fs-preview code, .db-editor-wrapper .fs-preview tt {
      padding: 1px 3px;
      font-family: Inconsolata, monospace, sans-serif;
      font-size: 0.85em;
      white-space: pre-wrap;
      border: 1px solid #E3EDF3;
      background: #F7FAFB;
      border-radius: 2px; }
    .db-editor-wrapper .fs-preview pre {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0;
      border: 1px solid #E3EDF3;
      width: 100%;
      padding: 10px;
      font-family: Inconsolata, monospace, sans-serif;
      font-size: 0.9em;
      white-space: pre;
      overflow: auto;
      background: #F7FAFB;
      border-radius: 3px; }
    .db-editor-wrapper .fs-preview pre code, .db-editor-wrapper .fs-preview tt {
      font-size: inherit;
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
      background: transparent;
      border: none;
      padding: 0; }
    .db-editor-wrapper .fs-preview kbd {
      display: inline-block;
      margin-bottom: 0.4em;
      padding: 1px 8px;
      border: #ccc 1px solid;
      color: #666;
      text-shadow: #fff 0 1px 0;
      font-size: 0.9em;
      font-weight: bold;
      background: #f4f4f4;
      border-radius: 4px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }
    .db-editor-wrapper .fs-preview table {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 1.6em 0;
      width: 100%;
      max-width: 100%;
      background-color: transparent; }
    .db-editor-wrapper .fs-preview table th,
    .db-editor-wrapper .fs-preview table td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #efefef; }
    .db-editor-wrapper .fs-preview table th {
      color: #000; }
    .db-editor-wrapper .fs-preview table caption + thead tr:first-child th,
    .db-editor-wrapper .fs-preview table caption + thead tr:first-child td,
    .db-editor-wrapper .fs-preview table colgroup + thead tr:first-child th,
    .db-editor-wrapper .fs-preview table colgroup + thead tr:first-child td,
    .db-editor-wrapper .fs-preview table thead:first-child tr:first-child th,
    .db-editor-wrapper .fs-preview table thead:first-child tr:first-child td {
      border-top: 0; }
    .db-editor-wrapper .fs-preview table tbody + tbody {
      border-top: 2px solid #efefef; }
    .db-editor-wrapper .fs-preview table table table {
      background-color: #fff; }
    .db-editor-wrapper .fs-preview table tbody > tr:nth-child(odd) > td,
    .db-editor-wrapper .fs-preview table tbody > tr:nth-child(odd) > th {
      background-color: #f6f6f6; }
    .db-editor-wrapper .fs-preview table.plain tbody > tr:nth-child(odd) > td,
    .db-editor-wrapper .fs-preview table.plain tbody > tr:nth-child(odd) > th {
      background: transparent; }
    .db-editor-wrapper .fs-preview iframe, .db-editor-wrapper .fs-preview .fluid-width-video-wrapper {
      display: block;
      margin: 1.6em 0; }
  .db-editor-wrapper .editor-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99; }
    .db-editor-wrapper .editor-fullscreen .CodeMirror {
      width: 50%;
      display: inline-block;
      background: #FBFCF7; }
    .db-editor-wrapper .editor-fullscreen .fs-preview {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 50%;
      padding: 4.5rem 1.5rem 0;
      border-left: 1px solid #EEEEEE;
      vertical-align: top;
      background: #FBFCF7; }
    .db-editor-wrapper .editor-fullscreen .fs-preview-title {
      position: absolute;
      top: 3rem;
      left: 0;
      right: 0;
      padding: 1rem 0;
      text-align: center;
      color: #AAAAAA;
      font-size: 1.2rem;
      background: rgba(255, 255, 255, 0.8); }
    .db-editor-wrapper .editor-fullscreen .fs-preview-container {
      padding-top: 2rem;
      height: 100%;
      overflow: auto; }

.db-preview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1%;
  border-radius: 0.3rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 999; }

.db-preview-wrapper {
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #CCCCCC;
  overflow: auto;
  background: #FFFFFF; }

.db-preview-close {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 2rem;
  color: #DB636B; }

.db-preview-header {
  position: fixed;
  left: 1%;
  right: 1%;
  padding: 0.5rem;
  font-size: 2rem;
  background: #EEEEEE;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .db-preview-header p {
    text-align: center;
    margin: 0;
    text-shadow: 0 1px 0 #FFFFFF; }

.db-preview-main {
  padding: 3rem 2rem 0 2rem;
  font-size: 1.4rem; }
  .db-preview-main h1, .db-preview-main h2, .db-preview-main h3,
  .db-preview-main h4, .db-preview-main h5, .db-preview-main h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif; }
  .db-preview-main h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px; }
  .db-preview-main h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px; }
  .db-preview-main h3 {
    font-size: 3.5rem; }
  .db-preview-main h4 {
    font-size: 3rem; }
  .db-preview-main h5 {
    font-size: 2.5rem; }
  .db-preview-main h6 {
    font-size: 2rem; }
  .db-preview-main a {
    color: #4a4a4a;
    transition: color ease 0.3s; }
  .db-preview-main a:hover {
    color: #57A3E8; }
  .db-preview-main h1 a, .db-preview-main h2 a, .db-preview-main h3 a,
  .db-preview-main h4 a, .db-preview-main h5 a, .db-preview-main h6 a {
    color: #50585D; }
  .db-preview-main p, .db-preview-main ul, .db-preview-main ol, .db-preview-main dl {
    margin: 1.6em 0; }
  .db-preview-main ol ol, .db-preview-main ul ul,
  .db-preview-main ul ol, .db-preview-main ol ul {
    margin: 0.4em 0; }
  .db-preview-main dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em; }
  .db-preview-main dl dd {
    margin-left: 200px;
    margin-bottom: 1em; }
  .db-preview-main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0; }
  .db-preview-main blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #4a4a4a 0.4em solid; }
  .db-preview-main blockquote p {
    margin: 0.8em 0;
    font-style: italic; }
  .db-preview-main blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #ccc; }
  .db-preview-main blockquote small:before {
    content: '\2014 \00A0'; }
  .db-preview-main blockquote cite {
    font-weight: bold; }
  .db-preview-main blockquote cite a {
    font-weight: normal; }
  .db-preview-main mark {
    background-color: #ffc336; }
  .db-preview-main code, .db-preview-main tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px; }
  .db-preview-main pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px; }
  .db-preview-main pre code, .db-preview-main tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0; }
  .db-preview-main kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }
  .db-preview-main table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent; }
  .db-preview-main table th,
  .db-preview-main table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef; }
  .db-preview-main table th {
    color: #000; }
  .db-preview-main table caption + thead tr:first-child th,
  .db-preview-main table caption + thead tr:first-child td,
  .db-preview-main table colgroup + thead tr:first-child th,
  .db-preview-main table colgroup + thead tr:first-child td,
  .db-preview-main table thead:first-child tr:first-child th,
  .db-preview-main table thead:first-child tr:first-child td {
    border-top: 0; }
  .db-preview-main table tbody + tbody {
    border-top: 2px solid #efefef; }
  .db-preview-main table table table {
    background-color: #fff; }
  .db-preview-main table tbody > tr:nth-child(odd) > td,
  .db-preview-main table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6; }
  .db-preview-main table.plain tbody > tr:nth-child(odd) > td,
  .db-preview-main table.plain tbody > tr:nth-child(odd) > th {
    background: transparent; }
  .db-preview-main iframe, .db-preview-main .fluid-width-video-wrapper {
    display: block;
    margin: 1.6em 0; }

.db-editor-helper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background: rgba(250, 250, 250, 0.8); }
  .db-editor-helper .db-editor-info {
    display: inline-block;
    float: left; }
  .db-editor-helper .db-helper-btn {
    display: inline-block;
    float: right; }
  .db-editor-helper a {
    margin-left: 1rem;
    padding: 0 0.5rem;
    color: #6A7585; }
    .db-editor-helper a:hover {
      color: #FFFFFF;
      background: #2BBFBD; }

.imgupload .fileinput {
  display: none; }
.imgupload .upload-picker {
  display: block;
  text-align: center;
  border: 3px dashed #CCCCCC;
  padding: 1rem 0 5rem; }
  .imgupload .upload-picker span {
    display: block;
    width: 14rem;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 0.5rem;
    background: #3bafda; }

.preview-container {
  display: none;
  position: relative; }
  .preview-container .remove-img {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    border: none;
    background: rgba(255, 255, 255, 0.5); }

.upload-fail {
  display: none;
  padding: 3rem;
  text-align: center; }

.upload-error-text {
  font-size: 2rem;
  color: #E3403D; }

.upload-error-detail {
  color: #E3403D; }

.img-preview {
  height: 100%;
  width: 100%; }

.imgurl {
  margin-top: 1rem; }
  .imgurl input {
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    border: 1px solid #CCCCCC;
    border-radius: 0; }

.upload-progress {
  display: none;
  padding: 2rem; }
  .upload-progress .upload-progress-outer {
    position: relative;
    margin: 5rem 0;
    width: 100%;
    height: 2rem;
    background: #DEDEDE; }
  .upload-progress .upload-progress-inner {
    position: absolute;
    height: 100%;
    background: #349CC2; }

.db-draft-info {
  margin-left: 1rem; }

.db-tag-input {
  display: none; }

.db-new-header {
  margin-bottom: 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .db-new-header .light-selector {
    border-top: 1px solid #ced6dc;
    border-bottom: 1px solid #ced6dc;
    border-left: 0;
    border-right: 0;
    outline: none; }
  .db-new-header input {
    border-radius: 0;
    padding: 0 1rem;
    height: 60px;
    border: 1px solid #ced6dc;
    width: 100%;
    font-size: 3rem;
    color: #485159;
    font-weight: 700; }
  .db-new-header:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both; }

.db-cate-selecter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  outline: none; }

.selecter-selected, .selecter-item {
  padding: 9px !important;
  border-radius: 0 !important;
  border: 1px solid #ced6dc !important;
  font-size: 1.5rem;
  line-height: 30px; }
  .selecter-selected:after, .selecter-item:after {
    top: 22px !important; }

.db-title-wrapper {
  position: relative;
  padding: 0; }

.db-tags {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem; }
  .db-tags .db-tag {
    width: 30rem;
    height: 100%;
    border: none; }
    .db-tags .db-tag:focus {
      box-shadow: none; }

.db-single-tag {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: #3BAFDA;
  color: #FFFFFF; }
  .db-single-tag:hover {
    color: #FFFFFF;
    background: #50b8de; }
  .db-single-tag i {
    position: relative;
    top: 1px;
    left: 4px; }

.db-publish {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  line-height: 28px;
  padding: 10px 50px; }
  .db-publish i {
    margin-right: 1rem; }

.db-new-main {
  position: relative;
  height: 100%; }

.db-new-editor {
  position: absolute;
  top: 70px;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.8rem;
  border: 1px solid #ced6dc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .db-new-editor .CodeMirror {
    padding: 4.5rem 1.5rem 0;
    font-family: 'Open Sans', 'Microsoft Yahei';
    font-weight: 100;
    color: #384E63;
    line-height: 2.3rem; }

.db-file {
  padding: 6.4rem 1rem 0 1rem;
  height: 100%; }
  .db-file .db-file-wrapper {
    height: 100%;
    padding-top: 8.4rem;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.1);
    background: #FFFFFF; }
  .db-file .file-nav {
    position: fixed;
    top: 6.4rem;
    left: 8rem;
    right: 1rem;
    padding-top: 1rem;
    background: #F7F7F7; }
    .db-file .file-nav ol {
      padding: 0.5rem;
      margin: 0 1rem;
      list-style: none;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) inset;
      border-radius: 0.3rem;
      background: #FFFFFF; }
    .db-file .file-nav li {
      display: inline-block; }
    .db-file .file-nav a {
      display: inline-block;
      padding: 0.1rem 0.5rem;
      margin: 0 0.5rem;
      color: #555555;
      font-size: 1.5rem;
      line-height: 2rem; }
      .db-file .file-nav a:hover {
        color: #FFFFFF;
        border-radius: 0.3rem;
        text-shadow: 0 1px 0 #CCCCCC;
        background: #AAAAAA; }
    .db-file .file-nav span {
      color: #555555; }
  .db-file .file-tools {
    margin-top: 1rem;
    font-size: 1.3rem;
    background: #F7F7F7;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE; }
    .db-file .file-tools li {
      display: inline-block;
      padding: 1rem;
      border: none;
      border-left: 1px solid #EEEEEE;
      text-shadow: 0 1px 0 #FFFFFF;
      background: none; }
      .db-file .file-tools li:hover {
        color: #FFFFFF;
        text-shadow: 0 1px 0 #000000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
        background: #555555; }
    .db-file .file-tools i {
      margin-right: 0.5rem; }
  .db-file .file-list {
    height: 100%;
    overflow: auto;
    font-size: 1.4rem; }
  .db-file .file-list-wrapper {
    width: 100%; }
    .db-file .file-list-wrapper tbody tr {
      width: 100%; }
      .db-file .file-list-wrapper tbody tr:nth-child(odd) {
        background: #F7F7F7; }
    .db-file .file-list-wrapper .db-filename {
      margin-left: 0.8rem;
      text-shadow: 0 2px 2px #CECECE;
      color: #333333; }
      .db-file .file-list-wrapper .db-filename:hover {
        text-decoration: underline; }
    .db-file .file-list-wrapper th {
      text-align: left;
      padding: 1rem; }
    .db-file .file-list-wrapper td {
      padding: 0.5rem 1rem; }
      .db-file .file-list-wrapper td input[type='checkbox'] {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        vertical-align: middle; }
    .db-file .file-list-wrapper .db-action button, .db-file .file-list-wrapper .db-action a {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border: 1px solid #EEEEEE;
      outline: none;
      color: #FFFFFF;
      border-radius: 0.5rem;
      text-shadow: 0 1px 0 #2F8CAD;
      background: #3BAFDA; }
      .db-file .file-list-wrapper .db-action button:hover, .db-file .file-list-wrapper .db-action a:hover {
        background: #50b8de; }
  .db-file .file-preview {
    height: 100%;
    padding: 0 1rem; }
  .db-file #preview-file {
    height: 100%; }
  .db-file #delete-file .modal-body li {
    display: inline-block;
    padding: 0.5rem 0;
    margin: 1rem;
    border-bottom: 1px solid #CCCCCC; }
  .db-file #rename-file .modal-body li {
    margin: 1rem; }
    .db-file #rename-file .modal-body li span {
      display: inline-block;
      padding: 1rem 0; }
    .db-file #rename-file .modal-body li input {
      height: 4rem;
      font-size: 1.7rem; }

.setting-section {
  padding: 6.4rem 1rem 0;
  height: 100%; }
  .setting-section .setting-wrapper {
    position: relative;
    padding: 1rem;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: #FFFFFF; }
  .setting-section .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 3rem;
    border-bottom: 1px solid #EEEEEE;
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.8); }
    .setting-section .header button {
      float: right;
      padding: 0.8rem 2.3rem;
      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      border-radius: 0.3rem; }
  .setting-section .content {
    padding: 8rem 0 5rem;
    height: 100%;
    overflow: auto; }
  .setting-section .row {
    padding: 1rem; }
    .setting-section .row input[type='text'] {
      width: 75%;
      height: 4rem;
      vertical-align: middle;
      font-size: 1.5rem; }
    .setting-section .row input[type='checkbox'] {
      vertical-align: middle; }
    .setting-section .row textarea {
      width: 75%;
      height: 10rem;
      padding: 1rem;
      border: 1px solid #EEEEEE;
      vertical-align: top;
      font-family: 'Open Sans';
      font-size: 1.4rem;
      outline: none;
      transition: box-shadow 0.2s; }
      .setting-section .row textarea:focus {
        outline: none;
        box-shadow: 4px 0 0 #3BAFDA inset; }
    .setting-section .row label {
      display: inline-block;
      padding-right: 2rem;
      width: 25%;
      font-size: 1.5rem;
      text-align: right;
      vertical-align: middle;
      color: #7C838A; }
    .setting-section .row .light-selector {
      vertical-align: middle;
      width: 15rem !important; }

@media screen and (max-width: 980px) {
  body {
    overflow: hidden; }

  .db-nav-left .navbar-btn {
    display: inline-block;
    transition: all 0.3s; }

  .navbar-btn.active {
    color: #FFFFFF;
    background: #121920; }

  .db-admin {
    padding-left: 0; }

  .db-nav {
    display: none;
    top: 5.3rem;
    left: 0;
    right: 0;
    z-index: 99;
    background: none; }

  .header-btn {
    display: block;
    position: fixed;
    top: 1.2rem;
    right: 45%;
    padding: 0.6rem 0;
    width: 3rem;
    color: #FFFFFF;
    border-radius: 100%;
    line-height: 1.8rem;
    font-size: 2rem;
    text-align: center;
    z-index: 999;
    background: #B2DEFF; }

  .db-sidebar {
    top: 6.4rem;
    box-shadow: -0.4rem 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 99; }

  .db-nav-wrapper {
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background: #121920; }

  .db-brand-wrapper {
    display: none; }

  .db-dashboard-title {
    display: none; }

  .db-nav-left, .db-nav-right {
    width: auto; }

  .db-menu-wrapper li {
    display: inline-block;
    padding: 0;
    text-align: center; }
    .db-menu-wrapper li a {
      padding: 1.8rem;
      font-size: 2rem;
      line-height: 1.8rem; }
  .db-menu-wrapper .db-setting-btn {
    position: static;
    bottom: 0;
    width: auto; }

  .db-nav-menu {
    display: inline-block;
    height: 100%;
    width: 100%; }

  .db-editor-wrapper {
    left: 0; }

  .db-editor-wrapper.show-navbar {
    left: 7rem; }

  .db-post-main {
    padding: 6.4rem 1rem 0 1rem; }

  .db-sidebar {
    display: none; }

  .db-draft-info {
    display: none; }

  .db-single-tag {
    display: none; }

  .db-tag {
    display: none; }

  .db-publish {
    width: 100%; } }
