extends admin
block files
    .db-file
        .db-file-wrapper
            a.header-btn(href='javascript:;'): i.fa.fa-angle-double-down
            .file-nav
                ol.nav-list
                    li
                        a(href='javascript:;' data-url='/') Files
                        span /
                .file-tools
                    ul
                        li.btn.select-all
                            i.fa.fa-check-square
                            | Select all
                        li.btn.select-none
                            i.fa.fa-check-square-o
                            | Select none
                        li.btn.new-file(data-toggle='modal', data-target='#new')
                            i.fa.fa-file-o
                            | New file/folder
                        li.btn.rename(data-toggle='modal', data-target='#rename-file')
                            i.fa.fa-edit
                            | Rename
                        li.btn.move(data-toggle='modal', data-target='#move')
                            i.fa.fa-scissors
                            | Move
                        li.btn.copy(data-toggle='modal', data-target='#copy')
                            i.fa.fa-copy
                            | Copy
                        li.btn.upload(data-toggle='modal', data-target='#upload-file')
                            i.fa.fa-cloud-upload
                            | Upload files
                        li.btn.delete(data-toggle='modal', data-target='#delete-file')
                            i.fa.fa-trash-o
                            | Delete
            .file-list
                table.file-list-wrapper
                    thead
                        tr
                            th Name
                            th Created
                            th Last Modified
                            th Size
                            th Download
                    tbody
                        tr.list-item
                            td
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox')
                                i.fa.fa-folder-open
                                a.db-filename(href='javascript:;' data-url='/public') Public
                            td.create-time 
                            td.last-modified 
                            td.size 0
                            td
                        tr.list-item
                            td
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox')
                                i.fa.fa-folder-open
                                a.db-filename(href='javascript:;', data-url='/private') Private
                            td.create-time 
                            td.last-modified 
                            td.size 0
                            td
            .modal#delete-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 删除文件
                    .modal-body
                        p 即将删除以下文件/文件夹，删除前请做好备份！
                        ul.selected-item
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#rename-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 重命名文件
                    .modal-body
                        p 请输入新的文件名称
                        ul
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#upload-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 上传文件
                    .modal-body
                        #uploader
                            button.btn.add-btn(type='button')
                                i.fa.fa-plus-square
                                | Add file
                                input.fileinput(type='file', name='image', accept='image/*',multiple)
                            button.btn.btn-primary(type='button')
                                i.fa.fa-upload
                                | Start upload
                            button.btn.btn-danger(type='button')
                                i.fa.fa-trash
                                | Cancel upload
                            ul.added-list
                                
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 上传
            .modal#new
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 创建新文件/文件夹
                    .modal-body
                        label.radio-selector File
                            input(type='radio', name='type', value='file')
                        label.radio-selector Folder
                            input(type='radio', name='type', value='folder')
                        input(type='text')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#copy
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 复制文件/文件夹
                    .modal-body
                        h3.move-title 请选择目的路径：
                        ul.folder-list
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='/public') 
                                    i.fa.fa-folder
                                    span.name Public
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='/private') 
                                    i.fa.fa-folder
                                    span.name Private
                        h3.move-title 已选择的文件、文件夹：
                        ul.selected-item
                        h3.move-title 已选择的目的路径：
                        input.target-dir(type='text', value='/', disabled='disabled')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#move
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 移动文件/文件夹
                    .modal-body
                        h3.move-title 请选择目的路径：
                        ul.folder-list
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='/public') 
                                    i.fa.fa-folder
                                    span.name Public
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='/private') 
                                    i.fa.fa-folder
                                    span.name Private
                        h3.move-title 已选择的文件、文件夹：
                        ul.selected-item
                        h3.move-title 已选择的目的路径：
                        input.target-dir(type='text', value='/', disabled='disabled')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
block admin_script
    script.file-template(type='text/template').
        <tr class='list-item'>
            <td>
                <span class='checkbox'>
                    <i class='fa fa-square-o'></i>
                    <input type='checkbox' />
                </span>
                <i class='fa fa-file'></i>
                <a href='' class='db-filename'></a>
            </td>
            <td class='create-time'></td>
            <td class='last-modified'></td>
            <td class='size'></td>
            <td>
                <a href='' class='btn btn-primary download-btn'>Download</a>
            </td>
        </tr>
    script.folder-template(type='text/template').
        <tr class='list-item'>
            <td>
                <span class='checkbox'>
                    <i class='fa fa-square-o'></i>
                    <input type='checkbox' />
                </span> 
                <i class='fa fa-folder-open'></i>
                <a href='javascript:;' class='db-filename'></a>
            </td>
            <td class='create-time'></td>
            <td class='last-modified'></td>
            <td class='size'></td>
            <td></td>
        </tr>
    script(type='text/javascript', src='#{assetsUrl.serverSideAssets}/js/file.js')