extends admin

block admin_css
    link(rel='stylesheet', href='/css/jquery.light-selector.css')
    link(rel='stylesheet', href='/css/codemirror.css')

block admin_script
    script(tpye='text/javascript', src='/js/codemirror.js')
    script(type='text/javascript', src='/js/marked.js')
    script(tpye='text/javascript', src='/js/jquery.light-selector.js')
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript').


block new_post
    section.db-editor-wrapper
        .db-new-main
            form#new-post(method='post', action='#{url.admin}#{url.adminNewPost}')
                .db-new-header
                    .db-title-wrapper
                        input.db-new-title#post-title(type='text', name='title', placeholder='Post Title')
                        .db-cate-selecter(tabindex="0")
                            select(name='categories')
                                - if (categories)
                                    - each item in categories
                                        option(value='#{item.name}') #{item.name}
                                        
                .db-new-editor
                    .db-editor-helper
                        .db-editor-info
                            span Markdown
                            span.db-draft-info
                        .db-helper-btn
                            a.db-save-draft(href='javascript:;') Save draft
                            a.db-editor-help(href='javascript:;')
                                i.fa.fa-tint
                            a.db-editor-insertimg(href='#', data-toggle='modal', data-target='#insert')
                                i.fa.fa-photo
                            a.db-editor-preview(href='javascript:;')
                                i.fa.fa-eye
                            a.db-editor-fs(href='javascript:;')
                                i.fa.fa-arrows-alt
                    textarea.new-post-area#new-post-area(name='post')
                    .fs-preview
                        .fs-preview-title MarkDown Preview
                        .fs-preview-container
                .db-tags
                    input.db-tag(type='text', placeholder='文章标签。多个标签请用“，”号隔开。')
                    button.btn.btn-primary.db-publish(form='new-post')
                        i.fa.fa-send-o
                        | 发表
                .db-preview
                    .db-preview-wrapper
                        .db-preview-header
                            a.db-preview-close(href='javascript:;'): i.fa.fa-remove
                            p Markdown Preview
                        .db-preview-main
                .modal#insert
                    .modal-wrapper
                        .modal-header
                            button.close.fa.fa-times(type='button', data-dismiss='modal')
                            h4.modal-title 插入图片
                        .modal-body
                            .imgupload#uploader
                                form(enctype='multipart/form-data')
                                    a.upload-picker(href='javascript:;')
                                        img(src='/img/image.png')
                                        span 选择图片

                                    .upload-progress
                                        .upload-progress-outer
                                            .upload-progress-inner
                                        p 正在上传……
                                    .preview-container
                                        button.btn.remove-img
                                            i.fa.fa-trash
                                    .upload-fail
                                        p.upload-error-text
                                        p.upload-error-detail
                                    input.fileinput(type='file',name='picture', accept='image/*')
                            .imgurl
                                input.form-control(type='text', placeholder='请输入图片地址。')
                                        

                        .modal-footer
                            button.btn(type='button', data-dismiss='modal') 取消
                            button.btn.btn-primary.insert-img(type='button') 插入