.db-sign {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #242628; }

.db-sign-form {
  display: table-cell;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.1); }
  .db-sign-form input {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 3rem;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;
    box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    outline: none; }
    .db-sign-form input:hover {
      background: rgba(255, 255, 255, 0); }
    .db-sign-form input:focus {
      background: rgba(255, 255, 255, 0.2); }
  .db-sign-form .db-inner {
    display: inline-block;
    position: relative; }
  .db-sign-form .db-outer {
    text-align: center;
    margin: 2rem 0; }
  .db-sign-form .db-sign-icon {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
  .db-sign-form .db-submit {
    padding: 0.9rem 2rem;
    width: 25rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 100;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    .db-sign-form .db-submit:hover {
      background: rgba(230, 230, 230, 0.2); }
  .db-sign-form .db-sign-helper {
    width: 25rem;
    text-shadow: 0 1px 0 #000000; }
  .db-sign-form .db-sign-btn {
    color: #FFFFFF;
    float: left; }
  .db-sign-form .db-forget-btn {
    color: #FFFFFF;
    float: right; }

.db-info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.db-sign-title {
  font-size: 4rem;
  color: #FFFFFF;
  text-transform: uppercase; }

.fa-heart {
  color: #DE3E4B; }

.content {
  min-height: 100%;
  padding: 5rem 1rem 5rem 28%;
  background: #F0F3F6; }
  .content .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 28%;
    padding: 3rem 1rem;
    background: #121920; }
  .content .menu-btn {
    display: none; }
  .content .blog-logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    background: #222222; }
  .content .navbar-list {
    width: 200px;
    margin: 3rem auto; }
    .content .navbar-list li:last-child a {
      border: 0; }
    .content .navbar-list a {
      display: block;
      padding: 2rem 0;
      text-align: center;
      color: #354A5E;
      font-size: 1.4rem;
      border-bottom: 1px solid #1B2630; }
  .content .site-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: #22303D; }
    .content .site-info p {
      margin: 0.5rem 0; }
    .content .site-info a {
      color: #22303D;
      text-decoration: underline; }
  .content .main {
    padding: 0 2rem; }
  .content .index-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem 8rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF; }
  .content .blog {
    text-align: center; }
    .content .blog .blog-name {
      position: relative;
      margin: auto;
      max-width: 800px;
      line-height: 12rem;
      font-size: 12rem;
      font-family: 'Niconne';
      text-shadow: 2px 4px 0 #FFFFFF; }
    .content .blog .blog-desc {
      margin-bottom: 3rem;
      font-size: 2.3rem;
      font-weight: 100;
      line-height: normal;
      text-shadow: 0 2px 0 #EEEEEE; }
  .content .no-post {
    padding: 5rem 1rem;
    font-size: 1.6rem;
    text-align: center;
    color: #BBBBBB; }
  .content .post-wrapper {
    max-width: 620px;
    margin: 0 auto 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #EEEEEE; }
  .content .load-more {
    margin-top: 3rem;
    font-size: 1.4rem;
    text-align: center; }
    .content .load-more a {
      display: inline-block;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: #444444;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
      transition: all 0.3s;
      background: #EEEEEE; }
      .content .load-more a:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        background: #EFEFEF; }
    .content .load-more i {
      margin: 0 1rem; }
  .content .post-title {
    margin: 1rem 0 2rem -2.5rem;
    padding-left: 2rem;
    border-left: 0.5rem solid; }
    .content .post-title a {
      font-size: 5rem;
      font-weight: 800;
      color: #555555; }
      .content .post-title a:hover {
        color: #666666; }
  .content .post-info {
    margin: 1rem -2.5rem;
    padding: 1rem 2.5rem;
    background: #F5F5F5; }
    .content .post-info a {
      font-size: 1.4rem; }
    .content .post-info .post-author {
      display: inline-block;
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      vertical-align: middle;
      overflow: hidden;
      background: #EEEEEE; }
      .content .post-info .post-author img {
        width: 100%;
        height: 100%; }
    .content .post-info .post-date, .content .post-info .post-category {
      margin-right: 0.5rem;
      padding-right: 0.5rem;
      border-right: 1px solid #CCCCCC; }
  .content .post-content {
    font-size: 1.6rem;
    line-height: 2.6rem; }
  .content .post-read-more {
    color: #888888;
    font-style: italic;
    text-decoration: underline; }
  .content .post-pagination {
    font-size: 1.5rem;
    padding-top: 2rem; }
    .content .post-pagination .prev-post {
      float: left; }
    .content .post-pagination .next-post {
      float: right; }
    .content .post-pagination i {
      margin: 0 0.5rem; }
  .content .post-tags a {
    display: inline-block;
    margin: 1rem;
    line-height: 2.5rem;
    color: #999999;
    font-size: 1.4rem;
    border-bottom: 1px dashed; }

.post-content ::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none; }
.post-content ::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none; }
.post-content h1, .post-content h2, .post-content h3,
.post-content h4, .post-content h5, .post-content h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif; }
.post-content h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px; }
.post-content h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px; }
.post-content h3 {
  font-size: 3.5rem; }
.post-content h4 {
  font-size: 3rem; }
.post-content h5 {
  font-size: 2.5rem; }
.post-content h6 {
  font-size: 2rem; }
.post-content a {
  color: #4a4a4a;
  transition: color ease 0.3s; }
.post-content a:hover {
  color: #57A3E8; }
.post-content h1 a, .post-content h2 a, .post-content h3 a,
.post-content h4 a, .post-content h5 a, .post-content h6 a {
  color: #50585D; }
.post-content p, .post-content ul, .post-content ol, .post-content dl {
  margin: 1.6em 0; }
.post-content ol ol, .post-content ul ul,
.post-content ul ol, .post-content ol ul {
  margin: 0.4em 0; }
.post-content dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em; }
.post-content dl dd {
  margin-left: 200px;
  margin-bottom: 1em; }
.post-content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0; }
.post-content blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -2.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.4em solid; }
.post-content blockquote p {
  margin: 0.8em 0;
  font-style: italic; }
.post-content blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc; }
.post-content blockquote small:before {
  content: '\2014 \00A0'; }
.post-content blockquote cite {
  font-weight: bold; }
.post-content blockquote cite a {
  font-weight: normal; }
.post-content mark {
  background-color: #ffc336; }
.post-content code, .post-content tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px; }
.post-content pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px; }
.post-content pre code, .post-content tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0; }
.post-content kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }
.post-content table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent; }
.post-content table th,
.post-content table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef; }
.post-content table th {
  color: #000; }
.post-content table caption + thead tr:first-child th,
.post-content table caption + thead tr:first-child td,
.post-content table colgroup + thead tr:first-child th,
.post-content table colgroup + thead tr:first-child td,
.post-content table thead:first-child tr:first-child th,
.post-content table thead:first-child tr:first-child td {
  border-top: 0; }
.post-content table tbody + tbody {
  border-top: 2px solid #efefef; }
.post-content table table table {
  background-color: #fff; }
.post-content table tbody > tr:nth-child(odd) > td,
.post-content table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6; }
.post-content table.plain tbody > tr:nth-child(odd) > td,
.post-content table.plain tbody > tr:nth-child(odd) > th {
  background: transparent; }
.post-content iframe, .post-content .fluid-width-video-wrapper {
  display: block;
  margin: 1.6em 0; }

@media screen and (max-width: 980px) {
  .content {
    padding: 5rem 2.5rem; }
    .content .main {
      padding: 0;
      margin: 0; }
    .content .index-wrapper {
      padding: 2rem 2.5rem;
      margin: 0 -1.5rem; }
    .content .navbar {
      position: fixed;
      top: 2.5rem;
      left: 2.5rem;
      padding: 0;
      width: auto;
      bottom: initial;
      z-index: 999;
      background: none; }
      .content .navbar ul {
        display: none;
        padding: 0;
        margin-top: 1.5rem;
        width: 120px;
        text-align: center;
        list-style: none;
        border-radius: 0.4rem;
        box-shadow: 0 0 10px;
        background: #555555; }
      .content .navbar .blog-logo, .content .navbar .site-info {
        display: none; }
      .content .navbar .menu-btn {
        display: inline-block;
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 1.5rem;
        color: #444444;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        transition: all 0.3s;
        background: #FFFFFF; }
      .content .navbar .menu-btn.open {
        color: #FFFFFF;
        background: #444444; }
      .content .navbar li:last-child a {
        border: 0; }
      .content .navbar li a {
        display: block;
        padding: 1rem 2.5rem;
        border-bottom: 1px solid #666666;
        color: #FFFFFF; }
        .content .navbar li a:hover {
          background: #696969; }
    .content .blog .blog-name {
      word-wrap: break-word;
      line-height: 5rem;
      font-size: 5rem; }
    .content .blog .blog-desc {
      font-size: 2rem; }
    .content .post-title a {
      font-size: 2.4rem; }

  .single .post-content {
    margin: 0 -1.5rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background: #FFFFFF; } }
